Repository botpress/growth, changes with the owners that CODEOWNERS names for each.
All owners: @botpress/growth, @ptrckbp, @aj-botpress, @ermek-botpress, @nabilbotpress, @AudricPnd, @davidvitora

chore: deploy only integrations
  .github/actions/deploy-integrations/action.yml
  .github/actions/deploy-interfaces/action.yml
  .github/actions/deploy-plugins/action.yml
  .github/workflows/deploy-integrations.yml
Owners: @botpress/growth

chore: remove extra filters handling
  .github/actions/deploy-integrations/action.yml
Owners: @botpress/growth

chore: remove useless config
  .github/actions/deploy-integrations/action.yml
Owners: @botpress/growth

fix: remove unused error variable from subscriber action
  integrations/mailerlite/src/actions/subscriber.ts
Owners: @botpress/growth

addressed pr comments
  integrations/pipedrive/src/actions/person.ts
  integrations/pipedrive/src/types.ts
Owners: @botpress/growth

fix: remove unused error variable from subscriber action (#167)
  integrations/mailerlite/src/actions/subscriber.ts
Owners: @botpress/growth

updated the version
  integrations/pipedrive/integration.definition.ts
Owners: @botpress/growth

feat: add pull_request trigger to test
  .github/workflows/deploy-integrations.yml
Owners: @botpress/growth

removed plus from name
  integrations/pipedrive/integration.definition.ts
Owners: @botpress/growth

fix: yaml parsing error
  .github/workflows/deploy-integrations.yml
Owners: @botpress/growth

fix: yaml indentation
  .github/actions/deploy-integrations/action.yml
Owners: @botpress/growth

fix: change --visibility public to --public for compatibility issues
  .github/actions/deploy-integrations/action.yml
Owners: @botpress/growth

update version
  integrations/pipedrive/integration.definition.ts
Owners: @botpress/growth

fix: add validation
  integrations/klaviyo/integration.definition.ts
  integrations/klaviyo/package.json
  integrations/klaviyo/src/auth.ts
  integrations/klaviyo/src/setup.ts
Owners: @botpress/growth

feat: check if integration already exists
  .github/actions/deploy-integrations/action.yml
Owners: @botpress/growth

feat: pipedrive integration (#162)
  integrations/pipedrive/definitions/actions/person.ts
  integrations/pipedrive/definitions/index.ts
  integrations/pipedrive/definitions/schemas.ts
  integrations/pipedrive/dist/tsconfig.tsbuildinfo
  integrations/pipedrive/hub.md
  integrations/pipedrive/icon.svg
  integrations/pipedrive/integration.definition.ts
  integrations/pipedrive/package.json
  integrations/pipedrive/pnpm-lock.yaml
  integrations/pipedrive/src/actions/index.ts
  integrations/pipedrive/src/actions/person.ts
  integrations/pipedrive/src/auth.ts
  integrations/pipedrive/src/index.ts
  integrations/pipedrive/src/types.ts
  integrations/pipedrive/tsconfig.json
Owners: @botpress/growth

added the option to return the crawl result into a kb
  integrations/apify/integration.definition.ts
  integrations/apify/src/actions/start-crawler-run.ts
  integrations/apify/src/client.ts
  integrations/apify/src/setup/handler.ts
Owners: @botpress/growth

fix: make integration-exists.sh executable and reachable
  .github/actions/deploy-integrations/action.yml
Owners: @botpress/growth

fix: update message to user and revert changes to package.json
  integrations/klaviyo/package.json
  integrations/klaviyo/src/auth.ts
Owners: @botpress/growth

fix: dont rebuild integations
  .github/actions/deploy-integrations/action.yml
Owners: @botpress/growth

feat: add api key validation for mailerlite
  integrations/mailerlite/integration.definition.ts
  integrations/mailerlite/src/auth.ts
  integrations/mailerlite/src/setup/register.ts
  integrations/mailerlite/src/setup/unregister.ts
Owners: @botpress/growth

wip: debug
  .github/actions/deploy-integrations/action.yml
Owners: @botpress/growth

fix: change --yes to --confirm
  .github/actions/deploy-integrations/action.yml
Owners: @botpress/growth

fix: update version to match desired published state
  integrations/mailerlite/integration.definition.ts
Owners: @botpress/growth

fix: move to klaviyo
  integrations/klaviyo/eslint.config.mjs
Owners: @botpress/growth

version and integration name change
  integrations/mailerlite/integration.definition.ts
  integrations/mailerlite/package.json
Owners: @botpress/growth

version and integration name change (#170)
  integrations/mailerlite/integration.definition.ts
  integrations/mailerlite/package.json
Owners: @botpress/growth

feat: skip current version of bumped with no changes integrations
  .github/actions/deploy-integrations/action.yml
  integrations/hitl-api/package.json
Owners: @botpress/growth, @ptrckbp

feat: exclude hitl-salesforce + bump hubspot-hitl and shopify-product-sync versions to match deployed ones
  .github/actions/deploy-integrations/action.yml
  .github/workflows/deploy-integrations.yml
  integrations/hubspot-hitl/integration.definition.ts
  integrations/shopify-products-sync/integration.definition.ts
Owners: @botpress/growth, @ermek-botpress, @AudricPnd

chore: remove useless import
  integrations/hitl-api/package.json
Owners: @ptrckbp, @botpress/growth

fix: change the exclude method
  .github/actions/deploy-integrations/action.yml
  .github/workflows/deploy-integrations.yml
Owners: @botpress/growth

chore: exclude magento2
  .github/actions/deploy-integrations/action.yml
Owners: @botpress/growth

chore: bump shopify version
  integrations/shopify-products-sync/integration.definition.ts
Owners: @AudricPnd, @botpress/growth

chore: remove hubspot-hitl:2.0.1 from exclude list
  .github/actions/deploy-integrations/action.yml
Owners: @botpress/growth

chore: remove on pull_request trigger
  .github/workflows/deploy-integrations.yml
Owners: @botpress/growth

fix: bump versions
  integrations/hubspot-hitl/integration.definition.ts
  integrations/shopify-products-sync/integration.definition.ts
Owners: @ermek-botpress, @botpress/growth, @AudricPnd

chore: remove evironment choice and refacto deployment script
  .github/actions/deploy-integrations/action.yml
  .github/workflows/deploy-integrations.yml
Owners: @botpress/growth

feat: add linter and action for klaviyo
  integrations/klaviyo/.prettierrc
  integrations/klaviyo/definitions/actions/index.ts
  integrations/klaviyo/definitions/actions/profile.ts
  integrations/klaviyo/definitions/index.ts
  integrations/klaviyo/definitions/schemas/shared.ts
  integrations/klaviyo/integration.definition.ts
  integrations/klaviyo/package.json
  integrations/klaviyo/pnpm-lock.yaml
  integrations/klaviyo/src/actions/index.ts
  integrations/klaviyo/src/actions/profile.ts
  integrations/klaviyo/src/auth.ts
  integrations/klaviyo/src/index.ts
  integrations/klaviyo/src/misc/error-handler.ts
  integrations/klaviyo/src/misc/utils.ts
  integrations/klaviyo/src/setup.ts
Owners: @botpress/growth

chore: github action for linter
  .github/workflows/check-integrations-linting.yml
Owners: @botpress/growth

chore: add api token validation for klaviyo
  integrations/klaviyo/.prettierrc
  integrations/klaviyo/integration.definition.ts
  integrations/klaviyo/src/auth.ts
  integrations/klaviyo/src/setup.ts
Owners: @botpress/growth

CODEOWNERS:

# Global
* @botpress/growth

# Kitchen Sink
/advanced-starter-bot-template @ptrckbp @botpress/growth

# Integration Runner
/bp-integration-runner @aj-botpress @botpress/growth

# Integrations
/integrations/gohighlevel @ermek-botpress @botpress/growth
/integrations/google-chat-spaces @nabilbotpress @botpress/growth
/integrations/google-sheets @AudricPnd @botpress/growth
/integrations/hitl-api @ptrckbp @botpress/growth
/integrations/hitl-salesforce @davidvitora @botpress/growth
/integrations/hubspot-help-desk-hitl @ermek-botpress @botpress/growth
/integrations/hubspot-hitl @ermek-botpress @botpress/growth
/integrations/huggingface @ermek-botpress @botpress/growth
/integrations/salesforce @ermek-botpress @botpress/growth
/integrations/sharepoint @aj-botpress @botpress/growth
/integrations/shopify-products-sync @AudricPnd @botpress/growth
/integrations/twiliovoice @ermek-botpress @botpress/growth
/integrations/zoho-sales-iq-hitl @ermek-botpress @botpress/growth

# Plugins
/plugins/faq-analyzer @ermek-botpress @botpress/growth

# Scripts
/scripts/setup-integrations.js @ermek-botpress @botpress/growth
