Repository botpress/growth, changes with the owners that CODEOWNERS names for each.
All owners: @botpress/growth, @ptrckbp, @aj-botpress, @ermek-botpress, @nabilbotpress, @AudricPnd, @davidvitora

Update version to 3.0.2
  integrations/shopify-products-sync/integration.definition.ts
Owners: @AudricPnd, @botpress/growth

fix: improve product file naming and filter unpublished products (#208)
  integrations/shopify-products-sync/integration.definition.ts
  integrations/shopify-products-sync/src/misc/kb.ts
  integrations/shopify-products-sync/src/misc/shopify-products.ts
Owners: @AudricPnd, @botpress/growth

chore: refactor loadAllDocumentsIntoKbs into 3 functions for readability, removing clearedKbs as unused
  integrations/sharepoint/src/actions/sync.ts
  integrations/sharepoint/src/services/sync/SharepointSync.ts
  integrations/sharepoint/src/setup/handler.ts
  integrations/sharepoint/src/setup/register.ts
Owners: @aj-botpress, @botpress/growth

fix: update workflow to work after testing in personal project
  .github/workflows/prettier-check.yml
Owners: @botpress/growth

fix: setup pnpm before node
  .github/workflows/prettier-check.yml
Owners: @botpress/growth

fix: update install step to match setup action
  .github/workflows/prettier-check.yml
Owners: @botpress/growth

feat: concurrent processing of libs to increase speed
  integrations/sharepoint/src/actions/sync.ts
  integrations/sharepoint/src/setup/register.ts
Owners: @aj-botpress, @botpress/growth

fix: use merge base to get better idea of diff and use pnpm exec prettier rather than npx
  .github/workflows/prettier-check.yml
Owners: @botpress/growth

fix: make sure both base and head refs are available
  .github/workflows/prettier-check.yml
Owners: @botpress/growth

chore: refactoring webhook to being passed to methods as opposed to field, moving initialization of spClient to right before used, making webhook mandatory thus removing check
  integrations/sharepoint/src/actions/sync.ts
  integrations/sharepoint/src/services/sync/SharepointSync.ts
  integrations/sharepoint/src/setup/handler.ts
  integrations/sharepoint/src/setup/register.ts
Owners: @aj-botpress, @botpress/growth

chore: remove check, add runtime error
  integrations/sharepoint/src/services/sync/SharepointSync.ts
Owners: @aj-botpress, @botpress/growth

chore: add comments for clarity
  .github/workflows/prettier-check.yml
Owners: @botpress/growth

chore: switching to axios for consistency, kbId dupe validation in creation rather than passing set
  integrations/sharepoint/src/services/sync/SharepointSync.ts
Owners: @aj-botpress, @botpress/growth

chore: adding awaits, and asyn prefixes
  integrations/sharepoint/src/services/sync/SharepointSync.ts
Owners: @aj-botpress, @botpress/growth

[ Bug ] Sharepoint integration sync logic issues (#201)
  integrations/sharepoint/integration.definition.ts
  integrations/sharepoint/src/SharepointClient.ts
  integrations/sharepoint/src/actions/sync.ts
  integrations/sharepoint/src/misc/SharepointTypes.ts
  integrations/sharepoint/src/services/sync/SharepointSync.ts
  integrations/sharepoint/src/setup/handler.ts
  integrations/sharepoint/src/setup/register.ts
Owners: @aj-botpress, @botpress/growth

fix: error if lockfile doesnt match package.json with frozen-lockfile check
  .github/workflows/prettier-check.yml
Owners: @botpress/growth

chore: migrate package-lock files to pnpm-lock files
  integrations/pipedrive/package-lock.json
  integrations/pipedrive/pnpm-lock.yaml
Owners: @botpress/growth

chore: update package-lock to pnpm-lock
  bp-integration-runner/package-lock.json
  bp-integration-runner/pnpm-lock.yaml
  integrations/magento2/package-lock.json
  integrations/persat/package-lock.json
  integrations/persat/pnpm-lock.yaml
  plugins/faq-analyzer/package-lock.json
  plugins/faq-analyzer/pnpm-lock.yaml
Owners: @aj-botpress, @botpress/growth, @ermek-botpress

chore: migrate package-lock files to pnpm-lock files (#211)
  bp-integration-runner/package-lock.json
  bp-integration-runner/pnpm-lock.yaml
  integrations/magento2/package-lock.json
  integrations/persat/package-lock.json
  integrations/persat/pnpm-lock.yaml
  integrations/pipedrive/package-lock.json
  plugins/faq-analyzer/package-lock.json
  plugins/faq-analyzer/pnpm-lock.yaml
Owners: @aj-botpress, @botpress/growth, @ermek-botpress

chore: bump lock file versions for integrations and root level pnpm-lock
  integrations/apify/pnpm-lock.yaml
  integrations/brevo-hitl/pnpm-lock.yaml
  integrations/email-notifier/pnpm-lock.yaml
  integrations/gohighlevel/pnpm-lock.yaml
  integrations/google-chat-spaces/pnpm-lock.yaml
  integrations/google-sheets/pnpm-lock.yaml
  integrations/hitl-api/pnpm-lock.yaml
  integrations/hitl-salesforce/pnpm-lock.yaml
  integrations/hubspot-help-desk-hitl/pnpm-lock.yaml
  integrations/hubspot-hitl/pnpm-lock.yaml
  integrations/huggingface/pnpm-lock.yaml
  integrations/intercom-hitl/pnpm-lock.yaml
  integrations/livechat-hitl/pnpm-lock.yaml
  integrations/salesforce/pnpm-lock.yaml
  integrations/sharepoint-excel/pnpm-lock.yaml
  integrations/shopify-products-sync/pnpm-lock.yaml
  integrations/twiliovoice/pnpm-lock.yaml
  integrations/zoho-sales-iq-hitl/pnpm-lock.yaml
  integrations/zoom/.DS_Store
  integrations/zoom/pnpm-lock.yaml
  pnpm-lock.yaml
Owners: @botpress/growth, @ermek-botpress, @nabilbotpress, @AudricPnd, @ptrckbp, @davidvitora

chore: remove .DS_Store files
  .DS_Store
  integrations/.DS_Store
  integrations/google-chat-spaces/.DS_Store
  integrations/shopify-products-sync/src/.DS_Store
  integrations/shopify-products-sync/src/setup/.DS_Store
  integrations/zoom/.DS_Store
Owners: @botpress/growth, @nabilbotpress, @AudricPnd

chore: bump lock file versions for integrations and root level pnpm-lock (#212)
  .DS_Store
  integrations/.DS_Store
  integrations/apify/pnpm-lock.yaml
  integrations/brevo-hitl/pnpm-lock.yaml
  integrations/email-notifier/pnpm-lock.yaml
  integrations/gohighlevel/pnpm-lock.yaml
  integrations/google-chat-spaces/.DS_Store
  integrations/google-chat-spaces/pnpm-lock.yaml
  integrations/google-sheets/pnpm-lock.yaml
  integrations/hitl-api/pnpm-lock.yaml
  integrations/hitl-salesforce/pnpm-lock.yaml
  integrations/hubspot-help-desk-hitl/pnpm-lock.yaml
  integrations/hubspot-hitl/pnpm-lock.yaml
  integrations/huggingface/pnpm-lock.yaml
  integrations/intercom-hitl/pnpm-lock.yaml
  integrations/livechat-hitl/pnpm-lock.yaml
  integrations/salesforce/pnpm-lock.yaml
  integrations/sharepoint-excel/pnpm-lock.yaml
  integrations/shopify-products-sync/pnpm-lock.yaml
  integrations/shopify-products-sync/src/.DS_Store
  integrations/shopify-products-sync/src/setup/.DS_Store
  integrations/twiliovoice/pnpm-lock.yaml
  integrations/zoho-sales-iq-hitl/pnpm-lock.yaml
  integrations/zoom/.DS_Store
  integrations/zoom/pnpm-lock.yaml
  pnpm-lock.yaml
Owners: @botpress/growth, @ermek-botpress, @nabilbotpress, @AudricPnd, @ptrckbp, @davidvitora

chore: bump node version to 22
  .github/workflows/prettier-check.yml
Owners: @botpress/growth

chore: remove explicit fetch for PRs
  .github/workflows/prettier-check.yml
Owners: @botpress/growth

feat: prettier check workflow (#209)
  .github/workflows/prettier-check.yml
Owners: @botpress/growth

chore: run pnpm i
  integrations/sharepoint/package.json
  pnpm-lock.yaml
Owners: @aj-botpress, @botpress/growth

feat: create pnpm workspace file
  pnpm-workspace.yaml
Owners: @botpress/growth

chore: run pnpm install using pnpm workspace
  pnpm-lock.yaml
Owners: @botpress/growth

chore: remove individual lock files (handled in root pnpm-lock.yaml)
  bp-integration-runner/pnpm-lock.yaml
  integrations/apify/pnpm-lock.yaml
  integrations/apollo/pnpm-lock.yaml
  integrations/brevo-hitl/pnpm-lock.yaml
  integrations/email-notifier/pnpm-lock.yaml
  integrations/gohighlevel/pnpm-lock.yaml
  integrations/google-chat-spaces/pnpm-lock.yaml
  integrations/google-sheets/pnpm-lock.yaml
  integrations/hitl-api/pnpm-lock.yaml
  integrations/hitl-salesforce/pnpm-lock.yaml
  integrations/hubspot-help-desk-hitl/pnpm-lock.yaml
  integrations/hubspot-hitl/pnpm-lock.yaml
  integrations/huggingface/pnpm-lock.yaml
  integrations/intercom-hitl/pnpm-lock.yaml
  integrations/klaviyo/pnpm-lock.yaml
  integrations/livechat-hitl/pnpm-lock.yaml
  integrations/magento2/pnpm-lock.yaml
  integrations/mailerlite/pnpm-lock.yaml
  integrations/persat/pnpm-lock.yaml
  integrations/pipedrive/pnpm-lock.yaml
  integrations/salesforce/pnpm-lock.yaml
  integrations/sharepoint-excel/pnpm-lock.yaml
  integrations/sharepoint/pnpm-lock.yaml
  integrations/shopify-products-sync/pnpm-lock.yaml
  integrations/twiliovoice/pnpm-lock.yaml
  integrations/zoho-sales-iq-hitl/pnpm-lock.yaml
  integrations/zoom/pnpm-lock.yaml
  plugins/faq-analyzer/pnpm-lock.yaml
Owners: @aj-botpress, @botpress/growth, @ermek-botpress, @nabilbotpress, @AudricPnd, @ptrckbp, @davidvitora

fix: update postinstall script to avoid installing recursively to fix infinite loop
  package.json
  scripts/setup-integrations.js
Owners: @botpress/growth, @ermek-botpress

added email normalization for intercom hitl
  integrations/intercom-hitl/integration.definition.ts
  integrations/intercom-hitl/src/actions/hitl.ts
Owners: @botpress/growth

added prettier
  integrations/intercom-hitl/src/actions/hitl.ts
Owners: @botpress/growth

chore: fix package prefixes so turbo build works
  integrations/brevo-hitl/package.json
  integrations/google-chat-spaces/package.json
  integrations/hubspot-help-desk-hitl/package.json
  integrations/hubspot-hitl/package.json
  integrations/intercom-hitl/package.json
  integrations/livechat-hitl/package.json
  integrations/magento2/package.json
  integrations/zoho-sales-iq-hitl/package.json
Owners: @botpress/growth, @nabilbotpress, @ermek-botpress

removed regex check
  integrations/intercom-hitl/src/actions/hitl.ts
Owners: @botpress/growth

added email normalization for intercom hitl (#214)
  integrations/intercom-hitl/integration.definition.ts
  integrations/intercom-hitl/src/actions/hitl.ts
Owners: @botpress/growth

chore: add basic turbo.json to fix failing pnpm build
  turbo.json
Owners: @botpress/growth

chore: remove unused turbo generate script
  package.json
  turbo.json
Owners: @botpress/growth

fix: cleanup type and linting errors
  integrations/brevo-hitl/src/actions/hitl.ts
  integrations/brevo-hitl/src/setup/handler.ts
Owners: @botpress/growth

chore: simple fixes to turbo
  .gitignore
  turbo.json
Owners: @botpress/growth

feat: update postinstall script to avoid recursive looping with workspace
  package.json
  scripts/setup-integrations.js
Owners: @botpress/growth, @ermek-botpress

CODEOWNERS:

# Global
* @botpress/growth

# Kitchen Sink
/advanced-starter-bot-template @ptrckbp @botpress/growth

# Integration Runner
/bp-integration-runner @aj-botpress @botpress/growth

# Integrations
/integrations/gohighlevel @ermek-botpress @botpress/growth
/integrations/google-chat-spaces @nabilbotpress @botpress/growth
/integrations/google-sheets @AudricPnd @botpress/growth
/integrations/hitl-api @ptrckbp @botpress/growth
/integrations/hitl-salesforce @davidvitora @botpress/growth
/integrations/hubspot-help-desk-hitl @ermek-botpress @botpress/growth
/integrations/hubspot-hitl @ermek-botpress @botpress/growth
/integrations/huggingface @ermek-botpress @botpress/growth
/integrations/salesforce @ermek-botpress @botpress/growth
/integrations/sharepoint @aj-botpress @botpress/growth
/integrations/shopify-products-sync @AudricPnd @botpress/growth
/integrations/twiliovoice @ermek-botpress @botpress/growth
/integrations/zoho-sales-iq-hitl @ermek-botpress @botpress/growth

# Plugins
/plugins/faq-analyzer @ermek-botpress @botpress/growth

# Scripts
/scripts/setup-integrations.js @ermek-botpress @botpress/growth
