Repository botpress/growth, changes with the owners that CODEOWNERS names for each.
All owners: @botpress/growth, @ptrckbp, @aj-botpress, @ermek-botpress, @nabilbotpress, @AudricPnd, @davidvitora

CODEOWNERS:

# Global
* @botpress/growth

# Kitchen Sink
/advanced-starter-bot-template @ptrckbp @botpress/growth

# Integration Runner
/bp-integration-runner @aj-botpress @botpress/growth

# Integrations
/integrations/gohighlevel @ermek-botpress @botpress/growth
/integrations/google-chat-spaces @nabilbotpress @botpress/growth
/integrations/google-sheets @AudricPnd @botpress/growth
/integrations/hitl-api @ptrckbp @botpress/growth
/integrations/hitl-salesforce @davidvitora @botpress/growth
/integrations/hubspot-help-desk-hitl @ermek-botpress @botpress/growth
/integrations/hubspot-hitl @ermek-botpress @botpress/growth
/integrations/huggingface @ermek-botpress @botpress/growth
/integrations/salesforce @ermek-botpress @botpress/growth
/integrations/sharepoint @aj-botpress @botpress/growth
/integrations/shopify-products-sync @AudricPnd @botpress/growth
/integrations/twiliovoice @ermek-botpress @botpress/growth
/integrations/zoho-sales-iq-hitl @ermek-botpress @botpress/growth

# Plugins
/plugins/faq-analyzer @ermek-botpress @botpress/growth

# Scripts
/scripts/setup-integrations.js @ermek-botpress @botpress/growth

chore(email-notiifer): remove dead code
  integrations/email-notifier/src/actions/send-mail.ts
Owners: @botpress/growth

Update SharepointSync.ts
  integrations/sharepoint/src/SharepointSync.ts
Owners: @aj-botpress, @botpress/growth

restructured getRunStatus and startCrawlerRun
  integrations/apify/integration.definition.ts
  integrations/apify/package.json
  integrations/apify/src/actions/get-run-status.ts
  integrations/apify/src/actions/start-crawler-run.ts
  integrations/apify/src/client.ts
  integrations/apify/src/misc/crawler-helpers.ts
  integrations/apify/src/misc/types.ts
Owners: @botpress/growth

Update index.ts
  integrations/sharepoint/src/index.ts
Owners: @aj-botpress, @botpress/growth

Update utils.ts
  integrations/sharepoint/src/utils.ts
Owners: @aj-botpress, @botpress/growth

fix(email-notifier): add zod input validation for recipient emails
  integrations/email-notifier/src/definitions/index.ts
Owners: @botpress/growth

Update integration.definition.ts
  integrations/sharepoint/integration.definition.ts
Owners: @aj-botpress, @botpress/growth

Update index.ts
  integrations/sharepoint/src/index.ts
Owners: @aj-botpress, @botpress/growth

Update integration.definition.ts
  integrations/sharepoint/integration.definition.ts
Owners: @aj-botpress, @botpress/growth

fix(email-notifier): remove redundant textBodyCore check and formatted const htmlBody for readability.
  integrations/email-notifier/src/actions/send-mail.ts
Owners: @botpress/growth

(sharepoint): apply Prettier + resolve rebase conflicts
  integrations/sharepoint/integration.definition.ts
  integrations/sharepoint/src/SharepointSync.ts
  integrations/sharepoint/src/index.ts
Owners: @aj-botpress, @botpress/growth

fix(email-notifier): action schema improvements
  integrations/email-notifier/src/definitions/index.ts
Owners: @botpress/growth

chore(email-notifier): remove unused imports
  integrations/email-notifier/src/utils.ts
Owners: @botpress/growth

adressed pr comments
  integrations/apify/integration.definition.ts
  integrations/apify/src/actions/get-run-status.ts
  integrations/apify/src/actions/start-crawler-run.ts
  integrations/apify/src/client.ts
  integrations/apify/src/misc/crawler-helpers.ts
  integrations/apify/src/misc/types.ts
Owners: @botpress/growth

chore: use botpress cloud ops pat
  .github/workflows/deploy-integrations.yml
Owners: @botpress/growth

getRunStatus implemented, improved
  integrations/apify/src/client.ts
Owners: @botpress/growth

fix(email-notifier): migrate constants to separate file, add misc dir
  integrations/email-notifier/src/actions/send-mail.ts
  integrations/email-notifier/src/misc/client.ts
  integrations/email-notifier/src/misc/constants.ts
  integrations/email-notifier/src/utils.ts
Owners: @botpress/growth

extracted functions to make syn-run-results process easier to read
  integrations/apify/integration.definition.ts
  integrations/apify/package.json
  integrations/apify/src/actions/sync-run-results.ts
  integrations/apify/src/client.ts
  integrations/apify/src/misc/types.ts
Owners: @botpress/growth

added 45 seconds safety margin for syncing files
  integrations/apify/src/client.ts
Owners: @botpress/growth

made proper func calls for handling webhook
  integrations/apify/src/setup/handleCrawlerCompleted.ts
Owners: @botpress/growth

fix(email-notifier): added types.ts, stripped output schema.
  integrations/email-notifier/src/actions/send-mail.ts
  integrations/email-notifier/src/definitions/index.ts
  integrations/email-notifier/src/definitions/types.ts
Owners: @botpress/growth

addressed PR comments and handled missing kbId errors
  integrations/apify/src/actions/get-run-status.ts
  integrations/apify/src/actions/start-crawler-run.ts
  integrations/apify/src/actions/sync-run-results.ts
  integrations/apify/src/client.ts
  integrations/apify/src/helpers/utils.ts
  integrations/apify/src/misc/crawler-helpers.ts
  integrations/apify/src/setup/handleCrawlerCompleted.ts
Owners: @botpress/growth

feat(email-notifier): centralized error handling
  integrations/email-notifier/src/actions/send-mail.ts
  integrations/email-notifier/src/misc/error-handler.ts
  integrations/email-notifier/src/utils.ts
Owners: @botpress/growth

feat(email-notifier): stricter output type, parallel email sending.
  integrations/email-notifier/src/actions/send-mail.ts
  integrations/email-notifier/src/definitions/types.ts
Owners: @botpress/growth

feat: email-notifier integration (#174)
  integrations/email-notifier/hub.md
  integrations/email-notifier/icon.svg
  integrations/email-notifier/integration.definition.ts
  integrations/email-notifier/package.json
  integrations/email-notifier/pnpm-lock.yaml
  integrations/email-notifier/src/actions/index.ts
  integrations/email-notifier/src/actions/send-mail.ts
  integrations/email-notifier/src/definitions/index.ts
  integrations/email-notifier/src/index.ts
  integrations/email-notifier/src/misc/client.ts
  integrations/email-notifier/src/misc/constants.ts
  integrations/email-notifier/src/misc/error-handler.ts
  integrations/email-notifier/src/utils.ts
  integrations/email-notifier/tsconfig.json
Owners: @botpress/growth

fix(email-notifier): typo fix
  integrations/email-notifier/hub.md
Owners: @botpress/growth

fix(email-notifier): README typo fix (#180)
  integrations/email-notifier/hub.md
Owners: @botpress/growth

chore: remove integrationNames from package.json
  integrations/brevo-hitl/package.json
  integrations/gohighlevel/integration.definition.ts
  integrations/gohighlevel/package.json
  integrations/google-chat-spaces/integration.definition.ts
  integrations/google-chat-spaces/package.json
  integrations/google-sheets/integration.definition.ts
  integrations/google-sheets/package.json
  integrations/hitl-api/integration.definition.ts
  integrations/hitl-api/package.json
  integrations/hitl-salesforce/integration.definition.ts
  integrations/hitl-salesforce/package.json
  integrations/hubspot-help-desk-hitl/integration.definition.ts
  integrations/hubspot-help-desk-hitl/package.json
  integrations/hubspot-hitl/integration.definition.ts
  integrations/hubspot-hitl/package.json
  integrations/huggingface/integration.definition.ts
  integrations/huggingface/package.json
  integrations/intercom-hitl/integration.definition.ts
  integrations/intercom-hitl/package.json
  integrations/klaviyo/package.json
  integrations/livechat-hitl/integration.definition.ts
  integrations/livechat-hitl/package.json
  integrations/magento2/integration.definition.ts
  integrations/magento2/package.json
  integrations/mailerlite/integration.definition.ts
  integrations/mailerlite/package.json
  integrations/pipedrive/package.json
  integrations/salesforce/integration.definition.ts
  integrations/salesforce/package.json
  integrations/sharepoint-excel/integration.definition.ts
  integrations/sharepoint/integration.definition.ts
  integrations/sharepoint/package.json
  integrations/shopify-products-sync/package.json
  integrations/twiliovoice/integration.definition.ts
  integrations/twiliovoice/package.json
  integrations/zoho-sales-iq-hitl/integration.definition.ts
  integrations/zoho-sales-iq-hitl/package.json
  integrations/zoom/package.json
Owners: @botpress/growth, @ermek-botpress, @nabilbotpress, @AudricPnd, @ptrckbp, @davidvitora, @aj-botpress

fix: update check-integration-naming to not check the package.json
  .github/workflows/check-integration-naming.yml
  integrations/sharepoint-excel/package.json
Owners: @botpress/growth

fix(email-notifier): remove integrationName from package.json
  integrations/email-notifier/integration.definition.ts
  integrations/email-notifier/package.json
Owners: @botpress/growth

fix: update check-integration-versions to not check the package.json
  .github/workflows/check-integration-versions.yml
Owners: @botpress/growth

Remove all used of console.log
  integrations/apollo/src/actions/bulkEnrichPeople.ts
  integrations/apollo/src/actions/enrichPerson.ts
  integrations/apollo/src/actions/searchContact.ts
  integrations/apollo/src/setup.ts
Owners: @botpress/growth

Add linter and format with Prettier
  integrations/apollo/eslint.config.mts
  integrations/apollo/hub.md
  integrations/apollo/integration.definition.ts
  integrations/apollo/package.json
  integrations/apollo/pnpm-lock.yaml
  integrations/apollo/src/actions/createContact.ts
  integrations/apollo/src/actions/enrichPerson.ts
  integrations/apollo/src/actions/index.ts
  integrations/apollo/src/actions/searchContact.ts
  integrations/apollo/src/actions/updateContact.ts
  integrations/apollo/src/client.ts
  integrations/apollo/src/definitions/actions.ts
  integrations/apollo/src/definitions/index.ts
  integrations/apollo/src/definitions/schemas.ts
  integrations/apollo/src/index.ts
  integrations/apollo/src/setup.ts
Owners: @botpress/growth

Update documentation.
  integrations/apollo/hub.md
  integrations/apollo/src/actions/bulkEnrichPeople.ts
  integrations/apollo/src/actions/enrichPerson.ts
  integrations/apollo/src/definitions/schemas.ts
Owners: @botpress/growth

Rename integration
  integrations/apollo/package.json
Owners: @botpress/growth

Add readme
  integrations/apollo/hub.md
Owners: @botpress/growth

Update registration
  integrations/apollo/src/setup.ts
Owners: @botpress/growth

Remove redundant method
  integrations/apollo/src/client.ts
Owners: @botpress/growth

remove comments
  integrations/apollo/integration.definition.ts
Owners: @botpress/growth

Add error handling
  integrations/apollo/src/actions/bulkEnrichPeople.ts
  integrations/apollo/src/actions/createContact.ts
  integrations/apollo/src/actions/enrichPerson.ts
  integrations/apollo/src/actions/searchContact.ts
  integrations/apollo/src/actions/updateContact.ts
Owners: @botpress/growth
