Repository botpress/growth, changes with the owners that CODEOWNERS names for each.
All owners: @botpress/growth, @ptrckbp, @aj-botpress, @ermek-botpress, @nabilbotpress, @AudricPnd, @davidvitora

chore: revert gitignore
  .gitignore
Owners: @botpress/growth

chore: remove tracked files
  integrations/chatwoot/bp_modules/hitl/definition/actions/createUser/index.ts
  integrations/chatwoot/bp_modules/hitl/definition/actions/createUser/input.ts
  integrations/chatwoot/bp_modules/hitl/definition/actions/createUser/output.ts
  integrations/chatwoot/bp_modules/hitl/definition/actions/index.ts
  integrations/chatwoot/bp_modules/hitl/definition/actions/startHitl/index.ts
  integrations/chatwoot/bp_modules/hitl/definition/actions/startHitl/input.ts
  integrations/chatwoot/bp_modules/hitl/definition/actions/startHitl/output.ts
  integrations/chatwoot/bp_modules/hitl/definition/actions/stopHitl/index.ts
  integrations/chatwoot/bp_modules/hitl/definition/actions/stopHitl/input.ts
  integrations/chatwoot/bp_modules/hitl/definition/actions/stopHitl/output.ts
  integrations/chatwoot/bp_modules/hitl/definition/channels/hitl/index.ts
  integrations/chatwoot/bp_modules/hitl/definition/channels/hitl/messages/audio.ts
  integrations/chatwoot/bp_modules/hitl/definition/channels/hitl/messages/bloc.ts
  integrations/chatwoot/bp_modules/hitl/definition/channels/hitl/messages/card.ts
  integrations/chatwoot/bp_modules/hitl/definition/channels/hitl/messages/carousel.ts
  integrations/chatwoot/bp_modules/hitl/definition/channels/hitl/messages/choice.ts
  integrations/chatwoot/bp_modules/hitl/definition/channels/hitl/messages/dropdown.ts
  integrations/chatwoot/bp_modules/hitl/definition/channels/hitl/messages/file.ts
  integrations/chatwoot/bp_modules/hitl/definition/channels/hitl/messages/image.ts
  integrations/chatwoot/bp_modules/hitl/definition/channels/hitl/messages/index.ts
  integrations/chatwoot/bp_modules/hitl/definition/channels/hitl/messages/location.ts
  integrations/chatwoot/bp_modules/hitl/definition/channels/hitl/messages/markdown.ts
  integrations/chatwoot/bp_modules/hitl/definition/channels/hitl/messages/text.ts
  integrations/chatwoot/bp_modules/hitl/definition/channels/hitl/messages/video.ts
  integrations/chatwoot/bp_modules/hitl/definition/channels/index.ts
  integrations/chatwoot/bp_modules/hitl/definition/configuration/index.ts
  integrations/chatwoot/bp_modules/hitl/definition/configurations/index.ts
  integrations/chatwoot/bp_modules/hitl/definition/entities/hitlSession.ts
  integrations/chatwoot/bp_modules/hitl/definition/entities/index.ts
  integrations/chatwoot/bp_modules/hitl/definition/events/hitlAssigned.ts
  integrations/chatwoot/bp_modules/hitl/definition/events/hitlStopped.ts
  integrations/chatwoot/bp_modules/hitl/definition/events/index.ts
  integrations/chatwoot/bp_modules/hitl/definition/index.ts
  integrations/chatwoot/bp_modules/hitl/definition/interfaces/hitl-hitlSession-.ts
  integrations/chatwoot/bp_modules/hitl/definition/interfaces/index.ts
  integrations/chatwoot/bp_modules/hitl/definition/states/hitlMessageHistory.ts
  integrations/chatwoot/bp_modules/hitl/definition/states/index.ts
  integrations/chatwoot/bp_modules/hitl/index.ts
Owners: @botpress/growth

chore: remove pnpm lock
  integrations/chatwoot/pnpm-lock.yaml
Owners: @botpress/growth

chore: add bp_modules
  integrations/chatwoot/bp_modules/hitl/definition/actions/createUser/index.ts
  integrations/chatwoot/bp_modules/hitl/definition/actions/createUser/input.ts
  integrations/chatwoot/bp_modules/hitl/definition/actions/createUser/output.ts
  integrations/chatwoot/bp_modules/hitl/definition/actions/index.ts
  integrations/chatwoot/bp_modules/hitl/definition/actions/startHitl/index.ts
  integrations/chatwoot/bp_modules/hitl/definition/actions/startHitl/input.ts
  integrations/chatwoot/bp_modules/hitl/definition/actions/startHitl/output.ts
  integrations/chatwoot/bp_modules/hitl/definition/actions/stopHitl/index.ts
  integrations/chatwoot/bp_modules/hitl/definition/actions/stopHitl/input.ts
  integrations/chatwoot/bp_modules/hitl/definition/actions/stopHitl/output.ts
  integrations/chatwoot/bp_modules/hitl/definition/channels/hitl/index.ts
  integrations/chatwoot/bp_modules/hitl/definition/channels/hitl/messages/audio.ts
  integrations/chatwoot/bp_modules/hitl/definition/channels/hitl/messages/bloc.ts
  integrations/chatwoot/bp_modules/hitl/definition/channels/hitl/messages/card.ts
  integrations/chatwoot/bp_modules/hitl/definition/channels/hitl/messages/carousel.ts
  integrations/chatwoot/bp_modules/hitl/definition/channels/hitl/messages/choice.ts
  integrations/chatwoot/bp_modules/hitl/definition/channels/hitl/messages/dropdown.ts
  integrations/chatwoot/bp_modules/hitl/definition/channels/hitl/messages/file.ts
  integrations/chatwoot/bp_modules/hitl/definition/channels/hitl/messages/image.ts
  integrations/chatwoot/bp_modules/hitl/definition/channels/hitl/messages/index.ts
  integrations/chatwoot/bp_modules/hitl/definition/channels/hitl/messages/location.ts
  integrations/chatwoot/bp_modules/hitl/definition/channels/hitl/messages/markdown.ts
  integrations/chatwoot/bp_modules/hitl/definition/channels/hitl/messages/text.ts
  integrations/chatwoot/bp_modules/hitl/definition/channels/hitl/messages/video.ts
  integrations/chatwoot/bp_modules/hitl/definition/channels/index.ts
  integrations/chatwoot/bp_modules/hitl/definition/configuration/index.ts
  integrations/chatwoot/bp_modules/hitl/definition/configurations/index.ts
  integrations/chatwoot/bp_modules/hitl/definition/entities/hitlSession.ts
  integrations/chatwoot/bp_modules/hitl/definition/entities/index.ts
  integrations/chatwoot/bp_modules/hitl/definition/events/hitlAssigned.ts
  integrations/chatwoot/bp_modules/hitl/definition/events/hitlStopped.ts
  integrations/chatwoot/bp_modules/hitl/definition/events/index.ts
  integrations/chatwoot/bp_modules/hitl/definition/index.ts
  integrations/chatwoot/bp_modules/hitl/definition/interfaces/hitl-hitlSession-.ts
  integrations/chatwoot/bp_modules/hitl/definition/interfaces/index.ts
  integrations/chatwoot/bp_modules/hitl/definition/states/hitlMessageHistory.ts
  integrations/chatwoot/bp_modules/hitl/definition/states/index.ts
  integrations/chatwoot/bp_modules/hitl/index.ts
Owners: @botpress/growth

Revert "chore: add bp_modules"
  integrations/chatwoot/bp_modules/hitl/definition/actions/createUser/index.ts
  integrations/chatwoot/bp_modules/hitl/definition/actions/createUser/input.ts
  integrations/chatwoot/bp_modules/hitl/definition/actions/createUser/output.ts
  integrations/chatwoot/bp_modules/hitl/definition/actions/index.ts
  integrations/chatwoot/bp_modules/hitl/definition/actions/startHitl/index.ts
  integrations/chatwoot/bp_modules/hitl/definition/actions/startHitl/input.ts
  integrations/chatwoot/bp_modules/hitl/definition/actions/startHitl/output.ts
  integrations/chatwoot/bp_modules/hitl/definition/actions/stopHitl/index.ts
  integrations/chatwoot/bp_modules/hitl/definition/actions/stopHitl/input.ts
  integrations/chatwoot/bp_modules/hitl/definition/actions/stopHitl/output.ts
  integrations/chatwoot/bp_modules/hitl/definition/channels/hitl/index.ts
  integrations/chatwoot/bp_modules/hitl/definition/channels/hitl/messages/audio.ts
  integrations/chatwoot/bp_modules/hitl/definition/channels/hitl/messages/bloc.ts
  integrations/chatwoot/bp_modules/hitl/definition/channels/hitl/messages/card.ts
  integrations/chatwoot/bp_modules/hitl/definition/channels/hitl/messages/carousel.ts
  integrations/chatwoot/bp_modules/hitl/definition/channels/hitl/messages/choice.ts
  integrations/chatwoot/bp_modules/hitl/definition/channels/hitl/messages/dropdown.ts
  integrations/chatwoot/bp_modules/hitl/definition/channels/hitl/messages/file.ts
  integrations/chatwoot/bp_modules/hitl/definition/channels/hitl/messages/image.ts
  integrations/chatwoot/bp_modules/hitl/definition/channels/hitl/messages/index.ts
  integrations/chatwoot/bp_modules/hitl/definition/channels/hitl/messages/location.ts
  integrations/chatwoot/bp_modules/hitl/definition/channels/hitl/messages/markdown.ts
  integrations/chatwoot/bp_modules/hitl/definition/channels/hitl/messages/text.ts
  integrations/chatwoot/bp_modules/hitl/definition/channels/hitl/messages/video.ts
  integrations/chatwoot/bp_modules/hitl/definition/channels/index.ts
  integrations/chatwoot/bp_modules/hitl/definition/configuration/index.ts
  integrations/chatwoot/bp_modules/hitl/definition/configurations/index.ts
  integrations/chatwoot/bp_modules/hitl/definition/entities/hitlSession.ts
  integrations/chatwoot/bp_modules/hitl/definition/entities/index.ts
  integrations/chatwoot/bp_modules/hitl/definition/events/hitlAssigned.ts
  integrations/chatwoot/bp_modules/hitl/definition/events/hitlStopped.ts
  integrations/chatwoot/bp_modules/hitl/definition/events/index.ts
  integrations/chatwoot/bp_modules/hitl/definition/index.ts
  integrations/chatwoot/bp_modules/hitl/definition/interfaces/hitl-hitlSession-.ts
  integrations/chatwoot/bp_modules/hitl/definition/interfaces/index.ts
  integrations/chatwoot/bp_modules/hitl/definition/states/hitlMessageHistory.ts
  integrations/chatwoot/bp_modules/hitl/definition/states/index.ts
  integrations/chatwoot/bp_modules/hitl/index.ts
Owners: @botpress/growth

chore(chatwoot): update package.json to add build script and upgrade dependencies
  integrations/chatwoot/package.json
Owners: @botpress/growth

refactor(setup-integrations): streamline integration setup process and update logging messages
  scripts/setup-integrations.js
Owners: @ermek-botpress, @botpress/growth

refactor(setup-integrations): revert to previous
  scripts/setup-integrations.js
Owners: @ermek-botpress, @botpress/growth

refactor(setup-integrations): revert back to original
  scripts/setup-integrations.js
Owners: @ermek-botpress, @botpress/growth

feat(hitl): add HITL interface with message schemas and actions, update chatwoot integration build process
  integrations/chatwoot/package.json
  interfaces/hitl/eslint.config.mjs
  interfaces/hitl/interface.definition.ts
  interfaces/hitl/package.json
  interfaces/hitl/tsconfig.json
  scripts/setup-integrations.js
Owners: @botpress/growth, @ermek-botpress

Revert "feat(hitl): add HITL interface with message schemas and actions, update chatwoot integration build process"
  integrations/chatwoot/package.json
  interfaces/hitl/eslint.config.mjs
  interfaces/hitl/interface.definition.ts
  interfaces/hitl/package.json
  interfaces/hitl/tsconfig.json
  scripts/setup-integrations.js
Owners: @botpress/growth, @ermek-botpress

fix(chatwoot): update hitl dependency path and enhance integration build process
  integrations/chatwoot/package.json
  interfaces/hitl/eslint.config.mjs
  interfaces/hitl/interface.definition.ts
  interfaces/hitl/package.json
  interfaces/hitl/tsconfig.json
  scripts/setup-integrations.js
Owners: @botpress/growth, @ermek-botpress

feat(setup-integrations): enhance integration build process to conditionally run bp add for local bpDependencies
  scripts/setup-integrations.js
Owners: @ermek-botpress, @botpress/growth

feat(setup-integrations): refine condition for running bp add based on local bpDependencies and SDK version
  scripts/setup-integrations.js
Owners: @ermek-botpress, @botpress/growth

chore(dependencies): update @botpress/client, @botpress/sdk, and @botpress/cli versions in package.json for chatwoot and hitl integrations
  integrations/chatwoot/package.json
  interfaces/hitl/package.json
Owners: @botpress/growth

refactor(hitl): simplify message schema and enhance message definitions with userId support
  interfaces/hitl/interface.definition.ts
Owners: @botpress/growth

chore: revert setup script
  scripts/setup-integrations.js
Owners: @ermek-botpress, @botpress/growth

fix: restore correct interface type for hitl bp_module
  integrations/chatwoot/bp_modules/hitl/index.ts
Owners: @botpress/growth

chore(chatwoot): address pr comments
  integrations/chatwoot/integration.definition.ts
  integrations/chatwoot/src/actions/hitl.ts
  integrations/chatwoot/src/channels.ts
  integrations/chatwoot/src/client.ts
  integrations/chatwoot/src/misc/types.ts
  integrations/chatwoot/src/setup/handler.ts
  integrations/chatwoot/src/setup/register.ts
Owners: @botpress/growth

chore(chatwoot): update version to 1.0.2 and refine schemas for improved type handling
  integrations/chatwoot/integration.definition.ts
  integrations/chatwoot/src/misc/types.ts
  integrations/chatwoot/src/setup/handler.ts
Owners: @botpress/growth

fix: skip jira in github setup action
  scripts/setup-integrations.js
Owners: @ermek-botpress, @botpress/growth

fix: try to add botpress cli to dev dependencies
  integrations/jira/package.json
Owners: @botpress/growth

chore: bump patch version
  integrations/jira/integration.definition.ts
  scripts/setup-integrations.js
Owners: @botpress/growth, @ermek-botpress

rev: just skip integration
  integrations/jira/integration.definition.ts
  integrations/jira/package.json
  scripts/setup-integrations.js
Owners: @botpress/growth, @ermek-botpress

chore: prettier
  integrations/jira/integration.definition.ts
  integrations/jira/package.json
  integrations/jira/src/actions/add-comment-to-issue.ts
  integrations/jira/src/actions/find-all-users.ts
  integrations/jira/src/actions/find-user.ts
  integrations/jira/src/actions/new-issue.ts
  integrations/jira/src/actions/update-issue.ts
  integrations/jira/src/client/index.ts
  integrations/jira/src/definitions/actions.ts
  integrations/jira/src/misc/custom-schemas.ts
  integrations/jira/src/misc/custom-uis.ts
  integrations/jira/src/misc/types.ts
  integrations/jira/src/setup/register.ts
  integrations/jira/src/utils/index.ts
  scripts/setup-integrations.js
Owners: @botpress/growth, @ermek-botpress

rev: skipped integration
  scripts/setup-integrations.js
Owners: @ermek-botpress, @botpress/growth

fix: bump and format jira to pass ci (#231)
  integrations/jira/integration.definition.ts
  integrations/jira/package.json
  integrations/jira/src/actions/add-comment-to-issue.ts
  integrations/jira/src/actions/find-all-users.ts
  integrations/jira/src/actions/find-user.ts
  integrations/jira/src/actions/new-issue.ts
  integrations/jira/src/actions/update-issue.ts
  integrations/jira/src/client/index.ts
  integrations/jira/src/definitions/actions.ts
  integrations/jira/src/misc/custom-schemas.ts
  integrations/jira/src/misc/custom-uis.ts
  integrations/jira/src/misc/types.ts
  integrations/jira/src/setup/register.ts
  integrations/jira/src/utils/index.ts
Owners: @botpress/growth

chore(chatwoot): update version to 1.0.3, refine message handling, and simplify account retrieval logic
  integrations/chatwoot/integration.definition.ts
  integrations/chatwoot/src/actions/hitl.ts
  integrations/chatwoot/src/channels.ts
  integrations/chatwoot/src/setup/handler.ts
  integrations/chatwoot/src/setup/register.ts
Owners: @botpress/growth

chore(chatwoot): address pr comments
  integrations/chatwoot/integration.definition.ts
  integrations/chatwoot/src/actions/hitl.ts
  integrations/chatwoot/src/channels.ts
  integrations/chatwoot/src/client.ts
Owners: @botpress/growth

chore(chatwoot): update integration name and version
  integrations/chatwoot/integration.definition.ts
Owners: @botpress/growth

feat: implement hitl interface
  integrations/genesys/README.md
  integrations/genesys/hub.md
  integrations/genesys/integration.definition.ts
  integrations/genesys/src/actions/hitl.ts
  integrations/genesys/src/client.ts
  integrations/genesys/src/definitions/index.ts
  integrations/genesys/src/definitions/schemas.ts
  integrations/genesys/src/setup/handler.ts
Owners: @botpress/growth

chore(Intercom-HITL): Added title to the description
  integrations/intercom-hitl/integration.definition.ts
  integrations/intercom-hitl/src/actions/hitl.ts
  integrations/intercom-hitl/src/client.ts
Owners: @botpress/growth

chore(Intercom-HITL): Added title to the description (#232)
  integrations/intercom-hitl/integration.definition.ts
  integrations/intercom-hitl/src/actions/hitl.ts
  integrations/intercom-hitl/src/client.ts
Owners: @botpress/growth

chore: refactor definitions
  integrations/genesys/bp_modules/hitl/definition/actions/createUser/index.ts
  integrations/genesys/bp_modules/hitl/definition/actions/createUser/input.ts
  integrations/genesys/bp_modules/hitl/definition/actions/createUser/output.ts
  integrations/genesys/bp_modules/hitl/definition/actions/startHitl/index.ts
  integrations/genesys/bp_modules/hitl/definition/actions/startHitl/input.ts
  integrations/genesys/bp_modules/hitl/definition/actions/startHitl/output.ts
  integrations/genesys/bp_modules/hitl/definition/actions/stopHitl/index.ts
  integrations/genesys/bp_modules/hitl/definition/actions/stopHitl/input.ts
  integrations/genesys/bp_modules/hitl/definition/actions/stopHitl/output.ts
  integrations/genesys/bp_modules/hitl/definition/channels/hitl/messages/audio.ts
  integrations/genesys/bp_modules/hitl/definition/channels/hitl/messages/bloc.ts
  integrations/genesys/bp_modules/hitl/definition/channels/hitl/messages/file.ts
  integrations/genesys/bp_modules/hitl/definition/channels/hitl/messages/image.ts
  integrations/genesys/bp_modules/hitl/definition/channels/hitl/messages/text.ts
  integrations/genesys/bp_modules/hitl/definition/channels/hitl/messages/video.ts
  integrations/genesys/bp_modules/hitl/definition/entities/index.ts
  integrations/genesys/bp_modules/hitl/definition/events/hitlAssigned.ts
  integrations/genesys/bp_modules/hitl/definition/events/hitlStopped.ts
  integrations/genesys/bp_modules/hitl/definition/index.ts
  integrations/genesys/bp_modules/hitl/index.ts
  integrations/genesys/integration.definition.ts
  integrations/genesys/package.json
  integrations/genesys/pnpm-lock.yaml
  integrations/genesys/src/channels.ts
  integrations/genesys/src/definitions/channels.ts
  integrations/genesys/src/definitions/entities.ts
  integrations/genesys/src/definitions/events.ts
  integrations/genesys/src/definitions/index.ts
Owners: @botpress/growth

chore: add integrationId as input and clean definitions structure
  integrations/genesys/src/client.ts
  integrations/genesys/src/constants.ts
  integrations/genesys/src/definitions/configuration.ts
  integrations/genesys/src/definitions/index.ts
  integrations/genesys/src/definitions/states.ts
  integrations/genesys/src/definitions/user.ts
Owners: @botpress/growth

Created initial odoo helpdesk typing and outline
  integrations/odoo-helpdesk/definitions/actions/customers.ts
  integrations/odoo-helpdesk/definitions/actions/index.ts
  integrations/odoo-helpdesk/definitions/actions/tickets.ts
  integrations/odoo-helpdesk/definitions/schemas/customer.ts
  integrations/odoo-helpdesk/definitions/schemas/index.ts
  integrations/odoo-helpdesk/definitions/schemas/ticket.ts
  integrations/odoo-helpdesk/hub.md
  integrations/odoo-helpdesk/icon.svg
  integrations/odoo-helpdesk/integration.definition.ts
  integrations/odoo-helpdesk/package.json
  integrations/odoo-helpdesk/src/actions/customers.ts
  integrations/odoo-helpdesk/src/actions/index.ts
  integrations/odoo-helpdesk/src/actions/tickets.ts
  integrations/odoo-helpdesk/src/handlers/index.ts
  integrations/odoo-helpdesk/src/index.ts
  integrations/odoo-helpdesk/src/setup/index.ts
  integrations/odoo-helpdesk/src/setup/register.ts
  integrations/odoo-helpdesk/src/setup/unregister.ts
  integrations/odoo-helpdesk/src/utils/debug.ts
  integrations/odoo-helpdesk/src/utils/index.ts
  integrations/odoo-helpdesk/tsconfig.json
Owners: @botpress/growth

Created helpdesk and ticketing actions
  integrations/odoo-helpdesk/definitions/actions/customers.ts
  integrations/odoo-helpdesk/definitions/actions/helpdesk.ts
  integrations/odoo-helpdesk/definitions/actions/index.ts
  integrations/odoo-helpdesk/definitions/actions/tickets.ts
  integrations/odoo-helpdesk/definitions/index.ts
  integrations/odoo-helpdesk/definitions/schemas/customer.ts
  integrations/odoo-helpdesk/definitions/schemas/helpdesk-team.ts
  integrations/odoo-helpdesk/definitions/schemas/index.ts
  integrations/odoo-helpdesk/definitions/schemas/stage.ts
  integrations/odoo-helpdesk/definitions/schemas/ticket.ts
  integrations/odoo-helpdesk/definitions/states.ts
  integrations/odoo-helpdesk/integration.definition.ts
  integrations/odoo-helpdesk/package.json
  integrations/odoo-helpdesk/src/actions/customers.ts
  integrations/odoo-helpdesk/src/actions/helpdesk.ts
  integrations/odoo-helpdesk/src/actions/index.ts
  integrations/odoo-helpdesk/src/actions/tickets.ts
  integrations/odoo-helpdesk/src/handlers/index.ts
  integrations/odoo-helpdesk/src/services/odoo.ts
  integrations/odoo-helpdesk/src/setup/helpdesk.ts
  integrations/odoo-helpdesk/src/setup/register.ts
  integrations/odoo-helpdesk/src/setup/unregister.ts
  integrations/odoo-helpdesk/src/utils/debug.ts
  integrations/odoo-helpdesk/src/utils/index.ts
Owners: @botpress/growth

Bug: Force to requthenticate
  integrations/odoo-helpdesk/integration.definition.ts
  integrations/odoo-helpdesk/package.json
  integrations/odoo-helpdesk/src/services/odoo.ts
  integrations/odoo-helpdesk/src/setup/register.ts
  integrations/odoo-helpdesk/version-bump-and-deploy.js
Owners: @botpress/growth

Managed to get the helpdesk teams and keep session alive
  integrations/odoo-helpdesk/integration.definition.ts
  integrations/odoo-helpdesk/src/actions/tickets.ts
  integrations/odoo-helpdesk/src/services/odoo.ts
  integrations/odoo-helpdesk/src/setup/helpdesk.ts
  integrations/odoo-helpdesk/src/setup/register.ts
Owners: @botpress/growth

Feat: Odoo Registration and Helpdesk Teams and Stages
  integrations/odoo-helpdesk/integration.definition.ts
  integrations/odoo-helpdesk/src/services/odoo.ts
  integrations/odoo-helpdesk/src/setup/helpdesk.ts
Owners: @botpress/growth

CODEOWNERS:

# Global
* @botpress/growth

# Kitchen Sink
/advanced-starter-bot-template @ptrckbp @botpress/growth

# Integration Runner
/bp-integration-runner @aj-botpress @botpress/growth

# Integrations
/integrations/gohighlevel @ermek-botpress @botpress/growth
/integrations/google-chat-spaces @nabilbotpress @botpress/growth
/integrations/google-sheets @AudricPnd @botpress/growth
/integrations/hitl-api @ptrckbp @botpress/growth
/integrations/hitl-salesforce @davidvitora @botpress/growth
/integrations/hubspot-help-desk-hitl @ermek-botpress @botpress/growth
/integrations/hubspot-hitl @ermek-botpress @botpress/growth
/integrations/huggingface @ermek-botpress @botpress/growth
/integrations/salesforce @ermek-botpress @botpress/growth
/integrations/sharepoint @aj-botpress @botpress/growth
/integrations/shopify-products-sync @AudricPnd @botpress/growth
/integrations/twiliovoice @ermek-botpress @botpress/growth
/integrations/zoho-sales-iq-hitl @ermek-botpress @botpress/growth

# Plugins
/plugins/faq-analyzer @ermek-botpress @botpress/growth

# Scripts
/scripts/setup-integrations.js @ermek-botpress @botpress/growth
