Repository botpress/growth, changes with the owners that CODEOWNERS names for each.
All owners: @botpress/growth, @ptrckbp, @aj-botpress, @ermek-botpress, @nabilbotpress, @AudricPnd, @davidvitora

Update registration error message
  integrations/apollo/src/setup.ts
Owners: @botpress/growth

Fix usage of Axios Response
  integrations/apollo/package.json
  integrations/apollo/src/actions/bulkEnrichPeople.ts
  integrations/apollo/src/actions/createContact.ts
  integrations/apollo/src/actions/enrichPerson.ts
  integrations/apollo/src/actions/searchContact.ts
  integrations/apollo/src/actions/updateContact.ts
  integrations/apollo/src/client.ts
Owners: @botpress/growth

Validate input to API
  integrations/apollo/src/actions/bulkEnrichPeople.ts
  integrations/apollo/src/actions/createContact.ts
  integrations/apollo/src/actions/enrichPerson.ts
  integrations/apollo/src/actions/searchContact.ts
  integrations/apollo/src/actions/updateContact.ts
Owners: @botpress/growth

Add plus prefix
  integrations/apollo/package.json
Owners: @botpress/growth

Split schemas
  integrations/apollo/src/actions/bulkEnrichPeople.ts
  integrations/apollo/src/actions/createContact.ts
  integrations/apollo/src/actions/enrichPerson.ts
  integrations/apollo/src/actions/searchContact.ts
  integrations/apollo/src/actions/updateContact.ts
  integrations/apollo/src/client.ts
  integrations/apollo/src/definitions/actions.ts
  integrations/apollo/src/definitions/schemas.ts
  integrations/apollo/src/definitions/schemas/contact.schemas.ts
  integrations/apollo/src/definitions/schemas/enrichment.schemas.ts
  integrations/apollo/src/definitions/schemas/index.ts
  integrations/apollo/src/definitions/schemas/misc.schemas.ts
  integrations/apollo/src/definitions/schemas/search.schemas.ts
Owners: @botpress/growth

Apollo integration v1
  integrations/apollo/hub.md
  integrations/apollo/icon.svg
  integrations/apollo/integration.definition.ts
  integrations/apollo/package.json
  integrations/apollo/pnpm-lock.yaml
  integrations/apollo/src/actions/bulkEnrichPeople.ts
  integrations/apollo/src/actions/createContact.ts
  integrations/apollo/src/actions/enrichPerson.ts
  integrations/apollo/src/actions/index.ts
  integrations/apollo/src/actions/searchContact.ts
  integrations/apollo/src/actions/updateContact.ts
  integrations/apollo/src/client.ts
  integrations/apollo/src/definitions/actions.ts
  integrations/apollo/src/definitions/index.ts
  integrations/apollo/src/definitions/schemas.ts
  integrations/apollo/src/index.ts
  integrations/apollo/src/setup.ts
  integrations/apollo/tsconfig.json
Owners: @botpress/growth

Remove redundant comments
  integrations/apollo/hub.md
  integrations/apollo/src/actions/bulkEnrichPeople.ts
  integrations/apollo/src/actions/createContact.ts
  integrations/apollo/src/actions/enrichPerson.ts
  integrations/apollo/src/actions/searchContact.ts
  integrations/apollo/src/actions/updateContact.ts
  integrations/apollo/src/client.ts
  integrations/apollo/src/errorHandler.ts
Owners: @botpress/growth

Remove output schemas + unnecessary packages
  integrations/apollo/package.json
  integrations/apollo/pnpm-lock.yaml
  integrations/apollo/src/actions/bulkEnrichPeople.ts
  integrations/apollo/src/actions/createContact.ts
  integrations/apollo/src/actions/enrichPerson.ts
  integrations/apollo/src/actions/searchContact.ts
  integrations/apollo/src/actions/updateContact.ts
  integrations/apollo/src/client.ts
  integrations/apollo/src/definitions/actions.ts
  integrations/apollo/src/definitions/schemas.ts
  integrations/apollo/src/definitions/schemas/contact.schemas.ts
  integrations/apollo/src/definitions/schemas/enrichment.schemas.ts
  integrations/apollo/src/definitions/schemas/index.ts
  integrations/apollo/src/definitions/schemas/misc.schemas.ts
  integrations/apollo/src/definitions/schemas/search.schemas.ts
Owners: @botpress/growth

Re-add status message to API response.
  integrations/apollo/src/actions/bulkEnrichPeople.ts
  integrations/apollo/src/actions/createContact.ts
  integrations/apollo/src/actions/enrichPerson.ts
  integrations/apollo/src/actions/searchContact.ts
  integrations/apollo/src/actions/updateContact.ts
  integrations/apollo/src/definitions/actions.ts
  integrations/apollo/src/definitions/schemas.ts
Owners: @botpress/growth

Update error handling
  integrations/apollo/src/actions/bulkEnrichPeople.ts
  integrations/apollo/src/actions/createContact.ts
  integrations/apollo/src/actions/enrichPerson.ts
  integrations/apollo/src/actions/searchContact.ts
  integrations/apollo/src/actions/updateContact.ts
  integrations/apollo/src/errorHandler.ts
Owners: @botpress/growth

Update search contacts card name
  integrations/apollo/package.json
  integrations/apollo/src/actions/createContact.ts
  integrations/apollo/src/actions/index.ts
  integrations/apollo/src/actions/searchContact.ts
  integrations/apollo/src/actions/updateContact.ts
  integrations/apollo/src/client.ts
  integrations/apollo/src/definitions/actions.ts
  integrations/apollo/src/setup.ts
Owners: @botpress/growth

fix: check integrations versions with full name
  .github/workflows/check-integration-versions.yml
Owners: @botpress/growth

Re-add plus prefix
  integrations/apollo/package.json
Owners: @botpress/growth

fix: bump versions
  integrations/brevo-hitl/integration.definition.ts
  integrations/email-notifier/integration.definition.ts
  integrations/gohighlevel/integration.definition.ts
  integrations/google-chat-spaces/integration.definition.ts
  integrations/google-sheets/integration.definition.ts
  integrations/hitl-api/integration.definition.ts
  integrations/hitl-salesforce/integration.definition.ts
  integrations/hubspot-help-desk-hitl/integration.definition.ts
  integrations/hubspot-hitl/integration.definition.ts
  integrations/huggingface/integration.definition.ts
  integrations/intercom-hitl/integration.definition.ts
  integrations/klaviyo/integration.definition.ts
  integrations/livechat-hitl/integration.definition.ts
  integrations/magento2/integration.definition.ts
  integrations/mailerlite/integration.definition.ts
  integrations/pipedrive/integration.definition.ts
  integrations/salesforce/integration.definition.ts
  integrations/sharepoint-excel/integration.definition.ts
  integrations/sharepoint/integration.definition.ts
  integrations/shopify-products-sync/integration.definition.ts
  integrations/twiliovoice/integration.definition.ts
  integrations/zoho-sales-iq-hitl/integration.definition.ts
  integrations/zoom/integration.definition.ts
Owners: @botpress/growth, @ermek-botpress, @nabilbotpress, @AudricPnd, @ptrckbp, @davidvitora, @aj-botpress

Update version
  integrations/apollo/integration.definition.ts
  integrations/apollo/package.json
Owners: @botpress/growth

Add apollo to nno plus
  .github/workflows/check-integration-naming.yml
Owners: @botpress/growth

feat: Apollo integration (#179)
  .github/workflows/check-integration-naming.yml
  integrations/apollo/eslint.config.mts
  integrations/apollo/hub.md
  integrations/apollo/icon.svg
  integrations/apollo/integration.definition.ts
  integrations/apollo/package.json
  integrations/apollo/pnpm-lock.yaml
  integrations/apollo/src/actions/bulkEnrichPeople.ts
  integrations/apollo/src/actions/createContact.ts
  integrations/apollo/src/actions/enrichPerson.ts
  integrations/apollo/src/actions/index.ts
  integrations/apollo/src/actions/searchContact.ts
  integrations/apollo/src/actions/updateContact.ts
  integrations/apollo/src/client.ts
  integrations/apollo/src/definitions/actions.ts
  integrations/apollo/src/definitions/index.ts
  integrations/apollo/src/definitions/schemas.ts
  integrations/apollo/src/errorHandler.ts
  integrations/apollo/src/index.ts
  integrations/apollo/src/setup.ts
  integrations/apollo/tsconfig.json
Owners: @botpress/growth

fix: align versions with deployed
  integrations/hubspot-hitl/integration.definition.ts
  integrations/shopify-products-sync/integration.definition.ts
Owners: @ermek-botpress, @botpress/growth, @AudricPnd

feat(sharepoint): add vision support and improve code quality
  integrations/sharepoint/src/BotpressKB.ts
  integrations/sharepoint/src/SharepointClient.ts
  integrations/sharepoint/src/SharepointSync.ts
  integrations/sharepoint/src/index.ts
Owners: @aj-botpress, @botpress/growth

feat(sharepoint): update integration definition
  integrations/sharepoint/integration.definition.ts
Owners: @aj-botpress, @botpress/growth

feat: check integration name to deploy to proper workspace
  .github/actions/deploy-integrations/action.yml
  .github/scripts/deploy-all-integrations.sh
  .github/scripts/deploy-helpers.sh
  .github/scripts/deploy-integration.sh
  .github/workflows/deploy-integrations.yml
Owners: @botpress/growth

Format code with prettier
  integrations/sharepoint/src/BotpressKB.ts
  integrations/sharepoint/src/SharepointClient.ts
  integrations/sharepoint/src/SharepointSync.ts
  integrations/sharepoint/src/index.ts
Owners: @aj-botpress, @botpress/growth

[FIX] Sharepoint Bug Fixes (#160)
  integrations/sharepoint/integration.definition.ts
  integrations/sharepoint/src/BotpressKB.ts
  integrations/sharepoint/src/SharepointClient.ts
  integrations/sharepoint/src/SharepointSync.ts
  integrations/sharepoint/src/index.ts
  integrations/sharepoint/src/utils.ts
Owners: @aj-botpress, @botpress/growth

Update integration.definition.ts updated version number
  integrations/sharepoint/integration.definition.ts
Owners: @aj-botpress, @botpress/growth

Update integration.definition.ts
  integrations/sharepoint/integration.definition.ts
Owners: @aj-botpress, @botpress/growth

Update integration.definition.ts
  integrations/sharepoint/integration.definition.ts
Owners: @aj-botpress, @botpress/growth

[Update] SharePoint Version Num Bump (#182)
  integrations/sharepoint/integration.definition.ts
Owners: @aj-botpress, @botpress/growth

file sync implmenetation
  integrations/apify/integration.definition.ts
  integrations/apify/package.json
  integrations/apify/src/actions/get-run-status.ts
  integrations/apify/src/actions/start-crawler-run.ts
  integrations/apify/src/actions/sync-run-results.ts
  integrations/apify/src/client.ts
  integrations/apify/src/helpers/utils.ts
  integrations/apify/src/setup/handleCrawlerCompleted.ts
  integrations/apify/src/setup/register.ts
Owners: @botpress/growth

feat(email-notifier): simple html support
  integrations/email-notifier/src/actions/send-mail.ts
  integrations/email-notifier/src/definitions/index.ts
Owners: @botpress/growth

feat: add PR pattern updater and review commands to package.json
  .claude/agents/pr-guide-updater.md
  .claude/agents/pr-reviewer.md
  package.json
Owners: @botpress/growth

feat(reviewer): adds building and prettier checks
  .claude/agents/pr-reviewer.md
Owners: @botpress/growth

fix(reviewer): adds several clarifications to review rules
  .claude/agents/pr-reviewer.md
Owners: @botpress/growth

feat: add action to deploy integrations to prod (#158)
  .github/actions/deploy-integrations/action.yml
  .github/scripts/deploy-all-integrations.sh
  .github/scripts/deploy-helpers.sh
  .github/scripts/deploy-integration.sh
  .github/workflows/deploy-integrations.yml
  integrations/shopify-products-sync/integration.definition.ts
Owners: @botpress/growth, @AudricPnd

fix: login issues
  .github/scripts/deploy-helpers.sh
  .github/scripts/integration-exists.sh
  .github/workflows/deploy-integrations.yml
Owners: @botpress/growth

fix: integration-exists.sh script
  .github/scripts/integration-exists.sh
Owners: @botpress/growth

fix: integration-exists.sh script
  .github/scripts/deploy-helpers.sh
  .github/scripts/integration-exists.sh
Owners: @botpress/growth

chore: add test
  .github/actions/test-deployment/action.yml
  .github/scripts/README.md
  .github/scripts/deploy-helpers.sh
  .github/scripts/test-deployment-local.sh
  .github/scripts/test-deployment.sh
  .github/workflows/test-deployment.yml
Owners: @botpress/growth

fix: execution folder
  .github/scripts/deploy-helpers.sh
Owners: @botpress/growth

fix: execution folder
  .github/scripts/integration-exists.sh
Owners: @botpress/growth

fix: login before checking version
  .github/scripts/deploy-all-integrations.sh
  .github/scripts/integration-exists.sh
  integrations/apollo/integration.definition.ts
  integrations/apollo/package.json
Owners: @botpress/growth

CODEOWNERS:

# Global
* @botpress/growth

# Kitchen Sink
/advanced-starter-bot-template @ptrckbp @botpress/growth

# Integration Runner
/bp-integration-runner @aj-botpress @botpress/growth

# Integrations
/integrations/gohighlevel @ermek-botpress @botpress/growth
/integrations/google-chat-spaces @nabilbotpress @botpress/growth
/integrations/google-sheets @AudricPnd @botpress/growth
/integrations/hitl-api @ptrckbp @botpress/growth
/integrations/hitl-salesforce @davidvitora @botpress/growth
/integrations/hubspot-help-desk-hitl @ermek-botpress @botpress/growth
/integrations/hubspot-hitl @ermek-botpress @botpress/growth
/integrations/huggingface @ermek-botpress @botpress/growth
/integrations/salesforce @ermek-botpress @botpress/growth
/integrations/sharepoint @aj-botpress @botpress/growth
/integrations/shopify-products-sync @AudricPnd @botpress/growth
/integrations/twiliovoice @ermek-botpress @botpress/growth
/integrations/zoho-sales-iq-hitl @ermek-botpress @botpress/growth

# Plugins
/plugins/faq-analyzer @ermek-botpress @botpress/growth

# Scripts
/scripts/setup-integrations.js @ermek-botpress @botpress/growth
