Repository botpress/growth, changes with the owners that CODEOWNERS names for each.
All owners: @botpress/growth, @ptrckbp, @aj-botpress, @ermek-botpress, @nabilbotpress, @AudricPnd, @davidvitora

Creating customers
  integrations/odoo-helpdesk/definitions/actions/customers.ts
  integrations/odoo-helpdesk/definitions/schemas/customer.ts
  integrations/odoo-helpdesk/integration.definition.ts
  integrations/odoo-helpdesk/src/actions/customers.ts
Owners: @botpress/growth

Added audio url to the payload
  integrations/zoom/integration.definition.ts
  integrations/zoom/src/client.ts
  integrations/zoom/src/setup/handler.ts
Owners: @botpress/growth

Format client.ts
  integrations/zoom/src/client.ts
Owners: @botpress/growth

Integration: Zoom - Added audio url to the payload (#233)
  integrations/zoom/integration.definition.ts
  integrations/zoom/src/client.ts
  integrations/zoom/src/setup/handler.ts
Owners: @botpress/growth

Update Odoo Helpdesk integration: bump package manager version, enhance customer and ticket actions with new schemas, and improve state management for customer ID mapping.
  integrations/odoo-helpdesk/definitions/actions/customers.ts
  integrations/odoo-helpdesk/definitions/actions/tickets.ts
  integrations/odoo-helpdesk/definitions/schemas/customer.ts
  integrations/odoo-helpdesk/definitions/schemas/helpdesk-team.ts
  integrations/odoo-helpdesk/definitions/schemas/index.ts
  integrations/odoo-helpdesk/definitions/schemas/priority.ts
  integrations/odoo-helpdesk/definitions/schemas/stage.ts
  integrations/odoo-helpdesk/definitions/schemas/ticket.ts
  integrations/odoo-helpdesk/definitions/states.ts
  integrations/odoo-helpdesk/integration.definition.ts
  integrations/odoo-helpdesk/src/actions/customers.ts
  integrations/odoo-helpdesk/src/actions/tickets.ts
  package.json
Owners: @botpress/growth

Fixed customer creation
  integrations/odoo-helpdesk/definitions/actions/customers.ts
  integrations/odoo-helpdesk/definitions/schemas/customer.ts
  integrations/odoo-helpdesk/integration.definition.ts
  integrations/odoo-helpdesk/src/actions/customers.ts
Owners: @botpress/growth

Completed Create ticket to a final working state
  integrations/odoo-helpdesk/definitions/actions/tickets.ts
  integrations/odoo-helpdesk/definitions/schemas/ticket.ts
  integrations/odoo-helpdesk/integration.definition.ts
  integrations/odoo-helpdesk/src/actions/tickets.ts
Owners: @botpress/growth

Got Update to work
  integrations/odoo-helpdesk/definitions/actions/tickets.ts
  integrations/odoo-helpdesk/integration.definition.ts
  integrations/odoo-helpdesk/src/actions/tickets.ts
Owners: @botpress/growth

Added Readme for Odoo Helpdesk
  integrations/odoo-helpdesk/hub.md
Owners: @botpress/growth

Fix: Formatting, Integration Version and Name, More Strict Types
  integrations/odoo-helpdesk/definitions/actions/customers.ts
  integrations/odoo-helpdesk/definitions/actions/index.ts
  integrations/odoo-helpdesk/definitions/actions/tickets.ts
  integrations/odoo-helpdesk/definitions/index.ts
  integrations/odoo-helpdesk/definitions/schemas/customer.ts
  integrations/odoo-helpdesk/definitions/schemas/helpdesk-team.ts
  integrations/odoo-helpdesk/definitions/schemas/priority.ts
  integrations/odoo-helpdesk/definitions/schemas/stage.ts
  integrations/odoo-helpdesk/definitions/schemas/ticket.ts
  integrations/odoo-helpdesk/hub.md
  integrations/odoo-helpdesk/integration.definition.ts
  integrations/odoo-helpdesk/package.json
  integrations/odoo-helpdesk/pnpm-lock.yaml
  integrations/odoo-helpdesk/src/actions/customers.ts
  integrations/odoo-helpdesk/src/actions/tickets.ts
  integrations/odoo-helpdesk/src/services/odoo.ts
  integrations/odoo-helpdesk/src/setup/helpdesk.ts
  integrations/odoo-helpdesk/src/setup/index.ts
  integrations/odoo-helpdesk/tsconfig.json
  integrations/odoo-helpdesk/version-bump-and-deploy.js
Owners: @botpress/growth

Fix: Reverting root package.json updates
  package.json
Owners: @botpress/growth

Fix: Made version 1.0.0 and renamed integration name
  integrations/odoo-helpdesk/integration.definition.ts
Owners: @botpress/growth

feat: handle outbound messages
  integrations/genesys/src/definitions/user.ts
  integrations/genesys/src/setup/handler.ts
Owners: @botpress/growth

Fix: Removed unused Priority Class. Forced OdooId to be a number. Made Logging less verbose
  integrations/odoo-helpdesk/definitions/actions/customers.ts
  integrations/odoo-helpdesk/definitions/actions/helpdesk.ts
  integrations/odoo-helpdesk/definitions/schemas/index.ts
  integrations/odoo-helpdesk/definitions/schemas/priority.ts
  integrations/odoo-helpdesk/definitions/states.ts
  integrations/odoo-helpdesk/src/actions/customers.ts
  integrations/odoo-helpdesk/src/actions/helpdesk.ts
  integrations/odoo-helpdesk/src/actions/tickets.ts
  integrations/odoo-helpdesk/src/services/odoo.ts
Owners: @botpress/growth

Fix: Formatted with Prettier
  integrations/odoo-helpdesk/definitions/actions/customers.ts
  integrations/odoo-helpdesk/src/actions/customers.ts
  integrations/odoo-helpdesk/src/services/odoo.ts
Owners: @botpress/growth

Chore: Added TTYL to cookie cache
  integrations/odoo-helpdesk/src/services/odoo.ts
Owners: @botpress/growth

Fix: Added copilot revisions
  integrations/odoo-helpdesk/definitions/actions/tickets.ts
  integrations/odoo-helpdesk/integration.definition.ts
  integrations/odoo-helpdesk/src/actions/helpdesk.ts
  integrations/odoo-helpdesk/src/setup/register.ts
Owners: @botpress/growth

Updated Logo
  integrations/odoo-helpdesk/icon.svg
  integrations/odoo-helpdesk/integration.definition.ts
  integrations/odoo-helpdesk/odoo-logo.svg
Owners: @botpress/growth

initial commit
  integrations/wechat-entree/definitions/channels.ts
  integrations/wechat-entree/hub.md
  integrations/wechat-entree/icon.svg
  integrations/wechat-entree/integration.definition.ts
  integrations/wechat-entree/package-lock.json
  integrations/wechat-entree/package.json
  integrations/wechat-entree/src/index.ts
  integrations/wechat-entree/src/misc/message-handlers.ts
  integrations/wechat-entree/src/wechat-handler.ts
  integrations/wechat-entree/tsconfig.json
Owners: @botpress/growth

re structured wechat integration
  integrations/wechat-entree/definitions/channels.ts
  integrations/wechat-entree/src/index.ts
  integrations/wechat-entree/src/misc/message-handlers.ts
  integrations/wechat-entree/src/misc/wechat-api.ts
  integrations/wechat-entree/src/wechat-handler.ts
Owners: @botpress/growth

fix: Reverted integration definition for production
  integrations/odoo-helpdesk/integration.definition.ts
Owners: @botpress/growth

Fix: Aligned customer schema with create customer function and schemas
  integrations/odoo-helpdesk/definitions/actions/customers.ts
  integrations/odoo-helpdesk/definitions/schemas/customer.ts
Owners: @botpress/growth

fix image bug
  integrations/wechat-entree/src/misc/message-handlers.ts
Owners: @botpress/growth

feat(wechat): add wechat integration
  integrations/wechat-entree/definitions/channels.ts
  integrations/wechat-entree/hub.md
  integrations/wechat-entree/icon.svg
  integrations/wechat-entree/integration.definition.ts
  integrations/wechat-entree/package-lock.json
  integrations/wechat-entree/package.json
  integrations/wechat-entree/src/index.ts
  integrations/wechat-entree/src/misc/message-handlers.ts
  integrations/wechat-entree/src/misc/wechat-api.ts
  integrations/wechat-entree/src/wechat-handler.ts
  integrations/wechat-entree/tsconfig.json
Owners: @botpress/growth

Refactor: Update Odoo Helpdesk integration with new repository structure and added axios retry logic
  integrations/odoo-helpdesk/definitions/actions/customers.ts
  integrations/odoo-helpdesk/definitions/schemas/authentication.ts
  integrations/odoo-helpdesk/definitions/schemas/index.ts
  integrations/odoo-helpdesk/definitions/schemas/odoo.ts
  integrations/odoo-helpdesk/package.json
  integrations/odoo-helpdesk/src/actions/customers.ts
  integrations/odoo-helpdesk/src/actions/helpdesk.ts
  integrations/odoo-helpdesk/src/actions/tickets.ts
  integrations/odoo-helpdesk/src/services/customerIdMapping.ts
  integrations/odoo-helpdesk/src/services/customerRepository.ts
  integrations/odoo-helpdesk/src/services/helpdeskRepository.ts
  integrations/odoo-helpdesk/src/services/odoo.ts
  integrations/odoo-helpdesk/src/services/ticketRepository.ts
  integrations/odoo-helpdesk/src/setup/helpdesk.ts
  integrations/odoo-helpdesk/src/setup/register.ts
  integrations/odoo-helpdesk/src/setup/unregister.ts
  integrations/odoo-helpdesk/src/utils/attempt.ts
  integrations/odoo-helpdesk/src/utils/index.ts
  integrations/odoo-helpdesk/src/utils/state.ts
Owners: @botpress/growth

Chore: Removed unused logger parameter
  integrations/odoo-helpdesk/src/actions/helpdesk.ts
  integrations/odoo-helpdesk/src/services/customerIdMapping.ts
  integrations/odoo-helpdesk/src/setup/register.ts
  integrations/odoo-helpdesk/src/setup/unregister.ts
  integrations/odoo-helpdesk/src/utils/state.ts
Owners: @botpress/growth

Fix: Shortened hub.md
  integrations/odoo-helpdesk/hub.md
Owners: @botpress/growth

Fix: Applied prettier formatting
  integrations/odoo-helpdesk/src/actions/helpdesk.ts
  integrations/odoo-helpdesk/src/services/customerIdMapping.ts
  integrations/odoo-helpdesk/src/setup/register.ts
  integrations/odoo-helpdesk/src/setup/unregister.ts
  integrations/odoo-helpdesk/src/utils/state.ts
Owners: @botpress/growth

chore: run prettier and fix integration name
  integrations/wechat-entree/hub.md
  integrations/wechat-entree/integration.definition.ts
  integrations/wechat-entree/package.json
  integrations/wechat-entree/src/index.ts
  integrations/wechat-entree/src/misc/message-handlers.ts
  integrations/wechat-entree/src/wechat-handler.ts
  pnpm-lock.yaml
Owners: @botpress/growth

chore: remove package-lock and fix integration name
  integrations/wechat-entree/integration.definition.ts
  integrations/wechat-entree/package-lock.json
Owners: @botpress/growth

Fix: Unregister the customerIdMapping in unregistration
  integrations/odoo-helpdesk/src/services/odoo.ts
  integrations/odoo-helpdesk/src/setup/unregister.ts
Owners: @botpress/growth

Fix: removed unecessary comments. Removed `as` in helpdesk files and unused logger in odoo services.
  integrations/odoo-helpdesk/integration.definition.ts
  integrations/odoo-helpdesk/src/actions/customers.ts
  integrations/odoo-helpdesk/src/actions/helpdesk.ts
  integrations/odoo-helpdesk/src/services/customerIdMapping.ts
Owners: @botpress/growth

fix: Reverted integration definiition version and name for prodution deployment
  integrations/odoo-helpdesk/integration.definition.ts
Owners: @botpress/growth

feat: Added lead features to Kommo integration
  integrations/kommo/definitions/actions/index.ts
  integrations/kommo/definitions/actions/lead.ts
  integrations/kommo/definitions/events.ts
  integrations/kommo/definitions/index.ts
  integrations/kommo/definitions/states.ts
  integrations/kommo/deploy.log
  integrations/kommo/hub.md
  integrations/kommo/icon.svg
  integrations/kommo/integration.definition.ts
  integrations/kommo/package-lock.json
  integrations/kommo/package.json
  integrations/kommo/src/actions/index.ts
  integrations/kommo/src/actions/lead.ts
  integrations/kommo/src/auth.ts
  integrations/kommo/src/index.ts
  integrations/kommo/src/kommo-api/error-handling.ts
  integrations/kommo/src/kommo-api/index.ts
  integrations/kommo/src/kommo-api/kommo-client.ts
  integrations/kommo/src/kommo-api/types.ts
  integrations/kommo/src/setup.ts
  integrations/kommo/src/utils.ts
  integrations/kommo/src/webhook/event-payloads.ts
  integrations/kommo/src/webhook/handler.ts
  integrations/kommo/src/webhook/handlers/index.ts
  integrations/kommo/src/webhook/handlers/lead-events.ts
  integrations/kommo/src/webhook/handlers/oauth-callback.ts
  integrations/kommo/src/webhook/index.ts
  integrations/kommo/tsconfig.json
Owners: @botpress/growth

refactor(wechat): improve handler structure and outbound flow
  integrations/wechat-entree/integration.definition.ts
  integrations/wechat-entree/src/index.ts
  integrations/wechat-entree/src/misc/message-handlers.ts
  integrations/wechat-entree/src/wechat-handler.ts
Owners: @botpress/growth

chore: run prettier formatting
  integrations/wechat-entree/integration.definition.ts
  integrations/wechat-entree/src/index.ts
  integrations/wechat-entree/src/misc/message-handlers.ts
  integrations/wechat-entree/src/wechat-handler.ts
Owners: @botpress/growth

fix(zoho-sales-iq-hitl): migrate to HITL plugin and upgrade dependencies
  integrations/zoho-sales-iq-hitl/bp_modules/hitl/definition/actions/createUser/index.ts
  integrations/zoho-sales-iq-hitl/bp_modules/hitl/definition/actions/createUser/input.ts
  integrations/zoho-sales-iq-hitl/bp_modules/hitl/definition/actions/createUser/output.ts
  integrations/zoho-sales-iq-hitl/bp_modules/hitl/definition/actions/index.ts
  integrations/zoho-sales-iq-hitl/bp_modules/hitl/definition/actions/startHitl/index.ts
  integrations/zoho-sales-iq-hitl/bp_modules/hitl/definition/actions/startHitl/input.ts
  integrations/zoho-sales-iq-hitl/bp_modules/hitl/definition/actions/startHitl/output.ts
  integrations/zoho-sales-iq-hitl/bp_modules/hitl/definition/actions/stopHitl/index.ts
  integrations/zoho-sales-iq-hitl/bp_modules/hitl/definition/actions/stopHitl/input.ts
  integrations/zoho-sales-iq-hitl/bp_modules/hitl/definition/actions/stopHitl/output.ts
  integrations/zoho-sales-iq-hitl/bp_modules/hitl/definition/channels/hitl/index.ts
  integrations/zoho-sales-iq-hitl/bp_modules/hitl/definition/channels/hitl/messages/index.ts
  integrations/zoho-sales-iq-hitl/bp_modules/hitl/definition/channels/hitl/messages/text.ts
  integrations/zoho-sales-iq-hitl/bp_modules/hitl/definition/channels/index.ts
  integrations/zoho-sales-iq-hitl/bp_modules/hitl/definition/entities/index.ts
  integrations/zoho-sales-iq-hitl/bp_modules/hitl/definition/events/hitlAssigned.ts
  integrations/zoho-sales-iq-hitl/bp_modules/hitl/definition/events/hitlStopped.ts
  integrations/zoho-sales-iq-hitl/bp_modules/hitl/definition/events/index.ts
  integrations/zoho-sales-iq-hitl/bp_modules/hitl/definition/index.ts
  integrations/zoho-sales-iq-hitl/bp_modules/hitl/index.ts
  integrations/zoho-sales-iq-hitl/integration.definition.ts
  integrations/zoho-sales-iq-hitl/package-lock.json
  integrations/zoho-sales-iq-hitl/package.json
  integrations/zoho-sales-iq-hitl/src/actions/hitl.ts
  integrations/zoho-sales-iq-hitl/src/client.ts
  integrations/zoho-sales-iq-hitl/src/debug.ts
Owners: @ermek-botpress, @botpress/growth

refactor(zoho-sales-iq): add Zod schemas for API response validation
  integrations/zoho-sales-iq-hitl/integration.definition.ts
  integrations/zoho-sales-iq-hitl/package.json
  integrations/zoho-sales-iq-hitl/pnpm-lock.yaml
  integrations/zoho-sales-iq-hitl/sample-logs.txt
  integrations/zoho-sales-iq-hitl/src/actions/hitl.ts
  integrations/zoho-sales-iq-hitl/src/channels.ts
  integrations/zoho-sales-iq-hitl/src/client.ts
  integrations/zoho-sales-iq-hitl/src/debug.ts
  integrations/zoho-sales-iq-hitl/src/definitions/salesIqEvents.ts
  integrations/zoho-sales-iq-hitl/src/definitions/schemas.ts
  integrations/zoho-sales-iq-hitl/src/definitions/webhook-events.ts
  integrations/zoho-sales-iq-hitl/src/events/operatorAssignedUpdate.ts
  integrations/zoho-sales-iq-hitl/src/events/operatorConversationCompleted.ts
  integrations/zoho-sales-iq-hitl/src/events/operatorConversationMissed.ts
  integrations/zoho-sales-iq-hitl/src/events/operatorSendMessage.ts
  integrations/zoho-sales-iq-hitl/src/setup/handler.ts
  integrations/zoho-sales-iq-hitl/src/setup/unregister.ts
Owners: @ermek-botpress, @botpress/growth

refactor(zoho-sales-iq-hitl): remove debug logging from production code
  .gitignore
  integrations/zoho-sales-iq-hitl/integration.definition.ts
  integrations/zoho-sales-iq-hitl/src/actions/hitl.ts
  integrations/zoho-sales-iq-hitl/src/client.ts
  integrations/zoho-sales-iq-hitl/src/debug.ts
  integrations/zoho-sales-iq-hitl/src/setup/handler.ts
Owners: @botpress/growth, @ermek-botpress

feat(zoho-sales-iq-hitl): add tag validation before client function calls
  integrations/zoho-sales-iq-hitl/src/events/operatorAssignedUpdate.ts
  integrations/zoho-sales-iq-hitl/src/events/operatorConversationCompleted.ts
  integrations/zoho-sales-iq-hitl/src/events/operatorConversationMissed.ts
  integrations/zoho-sales-iq-hitl/src/events/operatorSendMessage.ts
  integrations/zoho-sales-iq-hitl/src/utils/validation.ts
Owners: @ermek-botpress, @botpress/growth

CODEOWNERS:

# Global
* @botpress/growth

# Kitchen Sink
/advanced-starter-bot-template @ptrckbp @botpress/growth

# Integration Runner
/bp-integration-runner @aj-botpress @botpress/growth

# Integrations
/integrations/gohighlevel @ermek-botpress @botpress/growth
/integrations/google-chat-spaces @nabilbotpress @botpress/growth
/integrations/google-sheets @AudricPnd @botpress/growth
/integrations/hitl-api @ptrckbp @botpress/growth
/integrations/hitl-salesforce @davidvitora @botpress/growth
/integrations/hubspot-help-desk-hitl @ermek-botpress @botpress/growth
/integrations/hubspot-hitl @ermek-botpress @botpress/growth
/integrations/huggingface @ermek-botpress @botpress/growth
/integrations/salesforce @ermek-botpress @botpress/growth
/integrations/sharepoint @aj-botpress @botpress/growth
/integrations/shopify-products-sync @AudricPnd @botpress/growth
/integrations/twiliovoice @ermek-botpress @botpress/growth
/integrations/zoho-sales-iq-hitl @ermek-botpress @botpress/growth

# Plugins
/plugins/faq-analyzer @ermek-botpress @botpress/growth

# Scripts
/scripts/setup-integrations.js @ermek-botpress @botpress/growth
