Repository botpress/growth, changes with the owners that CODEOWNERS names for each.
All owners: @botpress/growth, @ptrckbp, @aj-botpress, @ermek-botpress, @nabilbotpress, @AudricPnd, @davidvitora

rev: add older versions of botpress/sdk and zod to avoid breaking
  integrations/hitl-api/package.json
  pnpm-lock.yaml
Owners: @ptrckbp, @botpress/growth

chore: fixing schemas and more informational errors
  integrations/persat/definitions/actions/client.ts
  integrations/persat/definitions/schemas.ts
  integrations/persat/misc/utils/errorUtils.ts
Owners: @botpress/growth

rev: add specific versions to plugins/faq-analyzer to avoid breaking version conflicts
  package.json
  plugins/faq-analyzer/package.json
  pnpm-lock.yaml
Owners: @botpress/growth, @ermek-botpress

chore: change order of integrations, move dev dependencies out of dependencies
  integrations/hitl-api/package.json
  integrations/huggingface/package.json
  package.json
  plugins/faq-analyzer/package.json
Owners: @ptrckbp, @botpress/growth, @ermek-botpress

feat: added KB mapping persistency in state as well as merging kbs properly in sync
  integrations/sharepoint/definitions/states.ts
  integrations/sharepoint/package.json
  integrations/sharepoint/pnpm-lock.yaml
  integrations/sharepoint/src/actions/sync.ts
  integrations/sharepoint/src/misc/utils.ts
  integrations/sharepoint/src/setup/handler.ts
  integrations/sharepoint/src/setup/register.ts
  integrations/sharepoint/src/setup/unregister.ts
Owners: @aj-botpress, @botpress/growth

chore: adding detailed logs
  integrations/sharepoint/src/actions/sync.ts
Owners: @aj-botpress, @botpress/growth

chore: updating logging
  integrations/sharepoint/src/actions/sync.ts
Owners: @aj-botpress, @botpress/growth

chore: version bump
  integrations/sharepoint/integration.definition.ts
Owners: @aj-botpress, @botpress/growth

feat: adding skip cleaning features
  integrations/sharepoint/src/actions/sync.ts
  integrations/sharepoint/src/services/sync/SharepointSync.ts
  integrations/sharepoint/src/setup/register.ts
Owners: @aj-botpress, @botpress/growth

Update integrations/sharepoint/src/actions/sync.ts
  integrations/sharepoint/src/actions/sync.ts
Owners: @aj-botpress, @botpress/growth

Persat Integration (#194)
  integrations/persat/definitions/actions/client.ts
  integrations/persat/definitions/actions/form.ts
  integrations/persat/definitions/actions/index.ts
  integrations/persat/definitions/index.ts
  integrations/persat/definitions/schemas.ts
  integrations/persat/hub.md
  integrations/persat/icon.svg
  integrations/persat/integration.definition.ts
  integrations/persat/misc/utils/errorUtils.ts
  integrations/persat/package-lock.json
  integrations/persat/package.json
  integrations/persat/src/actions/client.ts
  integrations/persat/src/actions/form.ts
  integrations/persat/src/actions/index.ts
  integrations/persat/src/index.ts
  integrations/persat/src/setup/index.ts
  integrations/persat/src/setup/register.ts
  integrations/persat/src/utils/auth.ts
  integrations/persat/src/utils/axiosClient.ts
  integrations/persat/src/utils/dataUtils.ts
  integrations/persat/tsconfig.json
Owners: @botpress/growth

fix: deploy integrations action - check only public deployed version
  .github/scripts/deploy-all-integrations.sh
Owners: @botpress/growth

fix: deploy integrations action - check only public deployed version (#200)
  .github/scripts/deploy-all-integrations.sh
Owners: @botpress/growth

chore: adding cleanup function
  integrations/sharepoint/src/actions/sync.ts
Owners: @aj-botpress, @botpress/growth

chore: refactor webhook cleanup
  integrations/sharepoint/src/actions/sync.ts
Owners: @aj-botpress, @botpress/growth

chore: fixing register cleanup logic and refactoring into utils.ts
  integrations/sharepoint/src/actions/sync.ts
  integrations/sharepoint/src/setup/register.ts
  integrations/sharepoint/src/setup/utils.ts
Owners: @aj-botpress, @botpress/growth

fix: adding await
  integrations/sharepoint/src/actions/sync.ts
  integrations/sharepoint/src/setup/register.ts
Owners: @aj-botpress, @botpress/growth

feat: adding background processing and pagination for the sync endpoint
  integrations/sharepoint/src/SharepointClient.ts
  integrations/sharepoint/src/misc/SharepointTypes.ts
  integrations/sharepoint/src/services/sync/SharepointSync.ts
  integrations/sharepoint/src/setup/handler.ts
  integrations/sharepoint/src/setup/register.ts
Owners: @aj-botpress, @botpress/growth

fix: properly handling error when sending webhook in SharepointSync.ts
  integrations/sharepoint/src/services/sync/SharepointSync.ts
Owners: @aj-botpress, @botpress/growth

chore: more accurate logging info
  integrations/sharepoint/src/services/sync/SharepointSync.ts
Owners: @aj-botpress, @botpress/growth

fix: fixing logging messages for more clarity
  integrations/sharepoint/src/services/sync/SharepointSync.ts
  integrations/sharepoint/src/setup/handler.ts
Owners: @aj-botpress, @botpress/growth

chore: bumping version number
  integrations/sharepoint/integration.definition.ts
Owners: @aj-botpress, @botpress/growth

fix: passing extra parameter in sync.ts to make sure action triggers background sync
  integrations/sharepoint/src/actions/sync.ts
Owners: @aj-botpress, @botpress/growth

chore: changing location of check for more readability
  integrations/sharepoint/src/actions/sync.ts
  integrations/sharepoint/src/setup/register.ts
  integrations/sharepoint/src/setup/utils.ts
Owners: @aj-botpress, @botpress/growth

[ Feature ] - Adding new sync actions to Sharepoint to add new document libraries to the sync list (#199)
  integrations/sharepoint/definitions/actions/index.ts
  integrations/sharepoint/definitions/actions/sync.ts
  integrations/sharepoint/definitions/configuration.ts
  integrations/sharepoint/definitions/index.ts
  integrations/sharepoint/definitions/states.ts
  integrations/sharepoint/integration.definition.ts
  integrations/sharepoint/package.json
  integrations/sharepoint/pnpm-lock.yaml
  integrations/sharepoint/src/BotpressKB.ts
  integrations/sharepoint/src/SharepointClient.ts
  integrations/sharepoint/src/actions/index.ts
  integrations/sharepoint/src/actions/sync.ts
  integrations/sharepoint/src/index.ts
  integrations/sharepoint/src/misc/SharepointTypes.ts
  integrations/sharepoint/src/misc/utils.ts
  integrations/sharepoint/src/services/sync/SharepointSync.ts
  integrations/sharepoint/src/setup/handler.ts
  integrations/sharepoint/src/setup/index.ts
  integrations/sharepoint/src/setup/register.ts
  integrations/sharepoint/src/setup/unregister.ts
  integrations/sharepoint/src/setup/utils.ts
  integrations/sharepoint/tsconfig.json
Owners: @aj-botpress, @botpress/growth

fix: bumping major and updating version number:
  integrations/sharepoint/hub.md
  integrations/sharepoint/integration.definition.ts
Owners: @aj-botpress, @botpress/growth

fix: bumping version number and adding documentation
  integrations/sharepoint/hub.md
  integrations/sharepoint/integration.definition.ts
Owners: @aj-botpress, @botpress/growth

fix: bumping version number and adding documentation (#204)
  integrations/sharepoint/hub.md
  integrations/sharepoint/integration.definition.ts
Owners: @aj-botpress, @botpress/growth

feat(email-notifier): New email signature
  integrations/email-notifier/integration.definition.ts
  integrations/email-notifier/src/actions/send-mail.ts
  integrations/email-notifier/src/misc/constants.ts
Owners: @botpress/growth

chore: version bump
  integrations/sharepoint/integration.definition.ts
Owners: @aj-botpress, @botpress/growth

chore: only passing webhookid instead of entire ctx
  integrations/sharepoint/src/actions/sync.ts
  integrations/sharepoint/src/services/sync/SharepointSync.ts
  integrations/sharepoint/src/setup/register.ts
Owners: @aj-botpress, @botpress/growth

chore: run prettier
  integrations/email-notifier/hub.md
  integrations/email-notifier/integration.definition.ts
  integrations/email-notifier/src/actions/send-mail.ts
  integrations/email-notifier/src/definitions/index.ts
  integrations/email-notifier/src/index.ts
  integrations/email-notifier/src/misc/client.ts
  integrations/email-notifier/src/misc/constants.ts
  integrations/email-notifier/src/misc/error-handler.ts
  integrations/email-notifier/src/utils.ts
Owners: @botpress/growth

feat: add workflow that checks if changed files are formatted
  .github/workflows/prettier-check.yml
Owners: @botpress/growth

feat(email-notifier): New email signature (#205)
  integrations/email-notifier/hub.md
  integrations/email-notifier/integration.definition.ts
  integrations/email-notifier/src/actions/send-mail.ts
  integrations/email-notifier/src/definitions/index.ts
  integrations/email-notifier/src/index.ts
  integrations/email-notifier/src/misc/client.ts
  integrations/email-notifier/src/misc/constants.ts
  integrations/email-notifier/src/misc/error-handler.ts
  integrations/email-notifier/src/utils.ts
Owners: @botpress/growth

Update shopify-products.ts
  integrations/shopify-products-sync/src/misc/shopify-products.ts
Owners: @AudricPnd, @botpress/growth

Update pnpm-lock.yaml
  integrations/shopify-products-sync/pnpm-lock.yaml
Owners: @AudricPnd, @botpress/growth

Update integration.definition.ts
  integrations/shopify-products-sync/integration.definition.ts
Owners: @AudricPnd, @botpress/growth

fix : name files with product title instead of kbid
  integrations/shopify-products-sync/src/misc/kb.ts
Owners: @AudricPnd, @botpress/growth

fix : revert changes made to definition
  integrations/shopify-products-sync/integration.definition.ts
Owners: @AudricPnd, @botpress/growth

fix: filter unpublished Shopify products and rename KB files using product title
  integrations/shopify-products-sync/src/misc/kb.ts
  integrations/shopify-products-sync/src/misc/shopify-products.ts
Owners: @AudricPnd, @botpress/growth

CODEOWNERS:

# Global
* @botpress/growth

# Kitchen Sink
/advanced-starter-bot-template @ptrckbp @botpress/growth

# Integration Runner
/bp-integration-runner @aj-botpress @botpress/growth

# Integrations
/integrations/gohighlevel @ermek-botpress @botpress/growth
/integrations/google-chat-spaces @nabilbotpress @botpress/growth
/integrations/google-sheets @AudricPnd @botpress/growth
/integrations/hitl-api @ptrckbp @botpress/growth
/integrations/hitl-salesforce @davidvitora @botpress/growth
/integrations/hubspot-help-desk-hitl @ermek-botpress @botpress/growth
/integrations/hubspot-hitl @ermek-botpress @botpress/growth
/integrations/huggingface @ermek-botpress @botpress/growth
/integrations/salesforce @ermek-botpress @botpress/growth
/integrations/sharepoint @aj-botpress @botpress/growth
/integrations/shopify-products-sync @AudricPnd @botpress/growth
/integrations/twiliovoice @ermek-botpress @botpress/growth
/integrations/zoho-sales-iq-hitl @ermek-botpress @botpress/growth

# Plugins
/plugins/faq-analyzer @ermek-botpress @botpress/growth

# Scripts
/scripts/setup-integrations.js @ermek-botpress @botpress/growth
