Repository botpress/growth, changes with the owners that CODEOWNERS names for each.
All owners: @botpress/growth, @ptrckbp, @aj-botpress, @ermek-botpress, @nabilbotpress, @AudricPnd, @davidvitora

CODEOWNERS:

# Global
* @botpress/growth

# Kitchen Sink
/advanced-starter-bot-template @ptrckbp @botpress/growth

# Integration Runner
/bp-integration-runner @aj-botpress @botpress/growth

# Integrations
/integrations/gohighlevel @ermek-botpress @botpress/growth
/integrations/google-chat-spaces @nabilbotpress @botpress/growth
/integrations/google-sheets @AudricPnd @botpress/growth
/integrations/hitl-api @ptrckbp @botpress/growth
/integrations/hitl-salesforce @davidvitora @botpress/growth
/integrations/hubspot-help-desk-hitl @ermek-botpress @botpress/growth
/integrations/hubspot-hitl @ermek-botpress @botpress/growth
/integrations/huggingface @ermek-botpress @botpress/growth
/integrations/salesforce @ermek-botpress @botpress/growth
/integrations/sharepoint @aj-botpress @botpress/growth
/integrations/shopify-products-sync @AudricPnd @botpress/growth
/integrations/twiliovoice @ermek-botpress @botpress/growth
/integrations/zoho-sales-iq-hitl @ermek-botpress @botpress/growth

# Plugins
/plugins/faq-analyzer @ermek-botpress @botpress/growth

# Scripts
/scripts/setup-integrations.js @ermek-botpress @botpress/growth

feat(hitl-salesforce): support transfers
  integrations/hitl-salesforce/integration.definition.ts
  integrations/hitl-salesforce/src/client.ts
  integrations/hitl-salesforce/src/const.ts
  integrations/hitl-salesforce/src/definitions/schemas.ts
  integrations/hitl-salesforce/src/events/participant-changed.ts
Owners: @davidvitora, @botpress/growth

Error logging improvements
  integrations/livechat-hitl/integration.definition.ts
  integrations/livechat-hitl/src/actions/hitl.ts
  integrations/livechat-hitl/src/client.ts
  integrations/livechat-hitl/src/setup/register.ts
Owners: @botpress/growth

Error logging improvements (#155)
  integrations/livechat-hitl/integration.definition.ts
  integrations/livechat-hitl/src/actions/hitl.ts
  integrations/livechat-hitl/src/client.ts
  integrations/livechat-hitl/src/setup/register.ts
Owners: @botpress/growth

Add unit and e2e tests for hubspot-hitl
  .github/workflows/hubspot-hitl-tests.yml
  integrations/hubspot-hitl/TESTING.md
  integrations/hubspot-hitl/cleanup-channels.js
  integrations/hubspot-hitl/integration.definition.ts
  integrations/hubspot-hitl/package.json
  integrations/hubspot-hitl/pnpm-lock.yaml
  integrations/hubspot-hitl/run-integration-tests.sh
  integrations/hubspot-hitl/src/client.ts
  integrations/hubspot-hitl/src/setup/unregister.ts
  integrations/hubspot-hitl/tests/e2e/full-integration-flow.test.ts
  integrations/hubspot-hitl/tests/unit/actions/hitl.test.ts
  integrations/hubspot-hitl/tests/unit/client/rate-limiting.test.ts
  integrations/hubspot-hitl/tests/unit/utils/signature.test.ts
  integrations/hubspot-hitl/tests/utils/mocks.ts
  integrations/hubspot-hitl/tests/utils/test-helpers.ts
  integrations/hubspot-hitl/vitest.config.ts
  integrations/hubspot-hitl/vitest.e2e.config.ts
  integrations/hubspot-hitl/vitest.setup.ts
  integrations/hubspot-hitl/vitest.unit.config.ts
Owners: @botpress/growth, @ermek-botpress

Set integration name to plus prefix
  integrations/hubspot-hitl/package.json
Owners: @ermek-botpress, @botpress/growth

Fix test actions yml
  .github/workflows/hubspot-hitl-tests.yml
  integrations/hubspot-hitl/.gitignore
  integrations/hubspot-hitl/vitest.e2e.config.ts
  integrations/hubspot-hitl/vitest.unit.config.ts
Owners: @botpress/growth, @ermek-botpress

Fix pnpm version in yml
  .github/workflows/hubspot-hitl-tests.yml
Owners: @botpress/growth

Update hub.md
  integrations/hubspot-hitl/hub.md
Owners: @ermek-botpress, @botpress/growth

Fix actions modules
  .github/workflows/hubspot-hitl-tests.yml
  integrations/hubspot-hitl/cleanup-channels.js
  integrations/hubspot-hitl/package.json
  integrations/hubspot-hitl/tsconfig.json
  integrations/hubspot-hitl/vitest.setup.ts
Owners: @botpress/growth, @ermek-botpress

Run e2e tests on any branch
  .github/workflows/hubspot-hitl-tests.yml
Owners: @botpress/growth

Update TESTING.md
  integrations/hubspot-hitl/TESTING.md
Owners: @ermek-botpress, @botpress/growth

Upgrade to Node 22, standardize HubSpot Inbox naming, and replace unsafe type casting with proper TypeScript interfaces
  .github/workflows/hubspot-hitl-tests.yml
  integrations/hubspot-hitl/TESTING.md
  integrations/hubspot-hitl/cleanup-channels.js
  integrations/hubspot-hitl/hub.md
  integrations/hubspot-hitl/run-integration-tests.sh
  integrations/hubspot-hitl/src/actions/hitl.ts
  integrations/hubspot-hitl/src/channels.ts
  integrations/hubspot-hitl/src/client.ts
  integrations/hubspot-hitl/src/definitions/index.ts
  integrations/hubspot-hitl/src/setup/handler.ts
  integrations/hubspot-hitl/src/setup/register.ts
  integrations/hubspot-hitl/src/setup/unregister.ts
  integrations/hubspot-hitl/src/utils/signature.ts
  integrations/hubspot-hitl/test.env
  integrations/hubspot-hitl/test.env.example
  integrations/hubspot-hitl/tests/unit/actions/hitl.test.ts
  integrations/hubspot-hitl/tests/unit/utils/signature.test.ts
  integrations/hubspot-hitl/tests/utils/mocks.ts
Owners: @botpress/growth, @ermek-botpress

Update readme OAuth setup to use dashboard direct link
  integrations/gohighlevel/hub.md
  integrations/gohighlevel/integration.definition.ts
Owners: @ermek-botpress, @botpress/growth

feat: add action to deploy integrations to prod
  .github/actions/.DS_Store
  .github/actions/deploy-integrations/action.yml
  .github/actions/deploy-interfaces/action.yml
  .github/actions/deploy-plugins/action.yml
  .github/workflows/deploy-integrations.yml
Owners: @botpress/growth

don't control bp_modules
  integrations/hitl-salesforce/bp_modules/hitl/definition/actions/createUser/index.ts
  integrations/hitl-salesforce/bp_modules/hitl/definition/actions/createUser/input.ts
  integrations/hitl-salesforce/bp_modules/hitl/definition/actions/createUser/output.ts
  integrations/hitl-salesforce/bp_modules/hitl/definition/actions/index.ts
  integrations/hitl-salesforce/bp_modules/hitl/definition/actions/startHitl/index.ts
  integrations/hitl-salesforce/bp_modules/hitl/definition/actions/startHitl/input.ts
  integrations/hitl-salesforce/bp_modules/hitl/definition/actions/startHitl/output.ts
  integrations/hitl-salesforce/bp_modules/hitl/definition/actions/stopHitl/index.ts
  integrations/hitl-salesforce/bp_modules/hitl/definition/actions/stopHitl/input.ts
  integrations/hitl-salesforce/bp_modules/hitl/definition/actions/stopHitl/output.ts
  integrations/hitl-salesforce/bp_modules/hitl/definition/channels/hitl/index.ts
  integrations/hitl-salesforce/bp_modules/hitl/definition/channels/hitl/messages/audio.ts
  integrations/hitl-salesforce/bp_modules/hitl/definition/channels/hitl/messages/bloc.ts
  integrations/hitl-salesforce/bp_modules/hitl/definition/channels/hitl/messages/file.ts
  integrations/hitl-salesforce/bp_modules/hitl/definition/channels/hitl/messages/image.ts
  integrations/hitl-salesforce/bp_modules/hitl/definition/channels/hitl/messages/index.ts
  integrations/hitl-salesforce/bp_modules/hitl/definition/channels/hitl/messages/text.ts
  integrations/hitl-salesforce/bp_modules/hitl/definition/channels/hitl/messages/video.ts
  integrations/hitl-salesforce/bp_modules/hitl/definition/channels/index.ts
  integrations/hitl-salesforce/bp_modules/hitl/definition/entities/hitlSession.ts
  integrations/hitl-salesforce/bp_modules/hitl/definition/entities/index.ts
  integrations/hitl-salesforce/bp_modules/hitl/definition/events/hitlAssigned.ts
  integrations/hitl-salesforce/bp_modules/hitl/definition/events/hitlStopped.ts
  integrations/hitl-salesforce/bp_modules/hitl/definition/events/index.ts
  integrations/hitl-salesforce/bp_modules/hitl/definition/index.ts
  integrations/hitl-salesforce/bp_modules/hitl/index.ts
Owners: @davidvitora, @botpress/growth

feat(hitl-salesforce): implement enterprise gate for unlisted enterprise instance
  integrations/hitl-salesforce/.gitignore
  integrations/hitl-salesforce/integration.definition.ts
  integrations/hitl-salesforce/package.json
  integrations/hitl-salesforce/pnpm-lock.yaml
  integrations/hitl-salesforce/src/index.ts
  integrations/hitl-salesforce/src/misc/types.ts
  integrations/hitl-salesforce/src/setup/index.ts
  integrations/hitl-salesforce/src/setup/register.ts
Owners: @davidvitora, @botpress/growth

remove logs
  integrations/hitl-salesforce/src/setup/register.ts
Owners: @davidvitora, @botpress/growth

Fix race condition in HubSpot channel registration
  integrations/hubspot-hitl/src/setup/register.ts
Owners: @ermek-botpress, @botpress/growth

Update SharepointSync.ts
  integrations/sharepoint/src/SharepointSync.ts
Owners: @aj-botpress, @botpress/growth

Update index.ts
  integrations/sharepoint/src/index.ts
Owners: @aj-botpress, @botpress/growth

Update utils.ts
  integrations/sharepoint/src/utils.ts
Owners: @aj-botpress, @botpress/growth

Update integration.definition.ts
  integrations/sharepoint/integration.definition.ts
Owners: @aj-botpress, @botpress/growth

Update integration.definition.ts
  integrations/sharepoint/integration.definition.ts
Owners: @aj-botpress, @botpress/growth

Update index.ts
  integrations/sharepoint/src/index.ts
Owners: @aj-botpress, @botpress/growth

chore: initialize integration
  klaviyo/hub.md
  klaviyo/icon.svg
  klaviyo/integration.definition.ts
  klaviyo/package.json
  klaviyo/src/index.ts
  klaviyo/tsconfig.json
Owners: @botpress/growth

fix: move to subfoler
  integrations/klaviyo/definitions/actions/index.ts
  integrations/klaviyo/definitions/actions/profile.ts
  integrations/klaviyo/definitions/actions/regex.ts
  integrations/klaviyo/definitions/actions/shared.ts
  integrations/klaviyo/definitions/index.ts
  integrations/klaviyo/dist/tsconfig.tsbuildinfo
  integrations/klaviyo/hub.md
  integrations/klaviyo/icon.svg
  integrations/klaviyo/integration.definition.ts
  integrations/klaviyo/package.json
  integrations/klaviyo/pnpm-lock.yaml
  integrations/klaviyo/src/actions/constants.ts
  integrations/klaviyo/src/actions/error-handler.ts
  integrations/klaviyo/src/actions/index.ts
  integrations/klaviyo/src/actions/profile.ts
  integrations/klaviyo/src/actions/types.ts
  integrations/klaviyo/src/actions/utils.ts
  integrations/klaviyo/src/auth.ts
  integrations/klaviyo/src/index.ts
  integrations/klaviyo/src/setup.ts
  integrations/klaviyo/tsconfig.json
Owners: @botpress/growth

fix: delete outdated files
  klaviyo/hub.md
  klaviyo/icon.svg
  klaviyo/integration.definition.ts
  klaviyo/package.json
  klaviyo/src/index.ts
  klaviyo/tsconfig.json
Owners: @botpress/growth

fix: update naming convention in package.json and integration.definition.ts to include "plus" prefix
  integrations/klaviyo/integration.definition.ts
  integrations/klaviyo/package.json
Owners: @botpress/growth

chore: removed unused type
  integrations/klaviyo/src/actions/types.ts
Owners: @botpress/growth

fix: prettier formatting
  integrations/klaviyo/definitions/actions/index.ts
  integrations/klaviyo/definitions/actions/profile.ts
  integrations/klaviyo/definitions/actions/regex.ts
  integrations/klaviyo/definitions/actions/shared.ts
  integrations/klaviyo/definitions/index.ts
  integrations/klaviyo/pnpm-lock.yaml
  integrations/klaviyo/src/actions/constants.ts
  integrations/klaviyo/src/actions/error-handler.ts
  integrations/klaviyo/src/actions/index.ts
  integrations/klaviyo/src/actions/profile.ts
  integrations/klaviyo/src/actions/utils.ts
  integrations/klaviyo/src/auth.ts
  integrations/klaviyo/src/setup.ts
Owners: @botpress/growth

fix: migrate from z.record to parsing json for custom properties
  integrations/klaviyo/definitions/actions/shared.ts
  integrations/klaviyo/integration.definition.ts
  integrations/klaviyo/src/actions/profile.ts
  integrations/klaviyo/src/actions/utils.ts
Owners: @botpress/growth

fix: revert change to integration definition name prefix
  integrations/klaviyo/integration.definition.ts
Owners: @botpress/growth

pipedrive implementation
  integrations/pipedrive/definitions/actions/activity.ts
  integrations/pipedrive/definitions/actions/deal.ts
  integrations/pipedrive/definitions/actions/lead.ts
  integrations/pipedrive/definitions/actions/note.ts
  integrations/pipedrive/definitions/actions/person.ts
  integrations/pipedrive/definitions/index.ts
  integrations/pipedrive/dist/tsconfig.tsbuildinfo
  integrations/pipedrive/hub.md
  integrations/pipedrive/icon.svg
  integrations/pipedrive/integration.definition.ts
  integrations/pipedrive/package-lock.json
  integrations/pipedrive/package.json
  integrations/pipedrive/src/actions/activity.ts
  integrations/pipedrive/src/actions/deal.ts
  integrations/pipedrive/src/actions/index.ts
  integrations/pipedrive/src/actions/lead.ts
  integrations/pipedrive/src/actions/note.ts
  integrations/pipedrive/src/actions/person.ts
  integrations/pipedrive/src/auth.ts
  integrations/pipedrive/src/index.ts
  integrations/pipedrive/src/types.ts
  integrations/pipedrive/tsconfig.json
Owners: @botpress/growth

fix: remove all usages of any type and improve error handling
  integrations/klaviyo/package.json
  integrations/klaviyo/pnpm-lock.yaml
  integrations/klaviyo/src/actions/error-handler.ts
  integrations/klaviyo/src/actions/profile.ts
  integrations/klaviyo/src/actions/types.ts
  integrations/klaviyo/src/actions/utils.ts
Owners: @botpress/growth

fixed integration name
  integrations/pipedrive/package.json
Owners: @botpress/growth

fixing the integrationName field
  integrations/pipedrive/package.json
Owners: @botpress/growth

added plus to name
  integrations/pipedrive/integration.definition.ts
Owners: @botpress/growth

immigrating mailer lite integration from botpress/botpress
  integrations/mailerlite/.turbo/turbo-build.log
  integrations/mailerlite/definitions/actions/index.ts
  integrations/mailerlite/definitions/actions/subscriber.ts
  integrations/mailerlite/definitions/events.ts
  integrations/mailerlite/definitions/index.ts
  integrations/mailerlite/definitions/schemas.ts
  integrations/mailerlite/definitions/states.ts
  integrations/mailerlite/hub.md
  integrations/mailerlite/icon.svg
  integrations/mailerlite/integration.definition.ts
  integrations/mailerlite/misc/utils/utils.ts
  integrations/mailerlite/package.json
  integrations/mailerlite/src/actions/index.ts
  integrations/mailerlite/src/actions/subscriber.ts
  integrations/mailerlite/src/auth.ts
  integrations/mailerlite/src/events.ts
  integrations/mailerlite/src/index.ts
  integrations/mailerlite/src/setup/handler.ts
  integrations/mailerlite/src/setup/index.ts
  integrations/mailerlite/src/setup/register.ts
  integrations/mailerlite/src/setup/unregister.ts
  integrations/mailerlite/src/utils.ts
  integrations/mailerlite/tsconfig.json
Owners: @botpress/growth

fix: return all fields rather than limited selection
  integrations/klaviyo/definitions/actions/shared.ts
  integrations/klaviyo/integration.definition.ts
  integrations/klaviyo/src/actions/profile.ts
Owners: @botpress/growth

changing back package.json and tsconfig settings
  integrations/mailerlite/package.json
  integrations/mailerlite/tsconfig.json
Owners: @botpress/growth
