Repository botpress/growth, changes with the owners that CODEOWNERS names for each.
All owners: @botpress/growth, @ptrckbp, @aj-botpress, @ermek-botpress, @nabilbotpress, @AudricPnd, @davidvitora

CODEOWNERS:

# Global
* @botpress/growth

# Kitchen Sink
/advanced-starter-bot-template @ptrckbp @botpress/growth

# Integration Runner
/bp-integration-runner @aj-botpress @botpress/growth

# Integrations
/integrations/gohighlevel @ermek-botpress @botpress/growth
/integrations/google-chat-spaces @nabilbotpress @botpress/growth
/integrations/google-sheets @AudricPnd @botpress/growth
/integrations/hitl-api @ptrckbp @botpress/growth
/integrations/hitl-salesforce @davidvitora @botpress/growth
/integrations/hubspot-help-desk-hitl @ermek-botpress @botpress/growth
/integrations/hubspot-hitl @ermek-botpress @botpress/growth
/integrations/huggingface @ermek-botpress @botpress/growth
/integrations/salesforce @ermek-botpress @botpress/growth
/integrations/sharepoint @aj-botpress @botpress/growth
/integrations/shopify-products-sync @AudricPnd @botpress/growth
/integrations/twiliovoice @ermek-botpress @botpress/growth
/integrations/zoho-sales-iq-hitl @ermek-botpress @botpress/growth

# Plugins
/plugins/faq-analyzer @ermek-botpress @botpress/growth

# Scripts
/scripts/setup-integrations.js @ermek-botpress @botpress/growth

Add zoom-copy
  integrations/zoom copy/hub.md
  integrations/zoom copy/icon.svg
  integrations/zoom copy/integration.definition.ts
  integrations/zoom copy/package.json
  integrations/zoom copy/pnpm-lock.yaml
  integrations/zoom copy/src/index.ts
  integrations/zoom copy/src/zoom.ts
  integrations/zoom copy/tsconfig.json
Owners: @botpress/growth

test
  integrations/pipedrive copy/definitions/actions/person.ts
  integrations/pipedrive copy/definitions/index.ts
  integrations/pipedrive copy/definitions/schemas.ts
  integrations/pipedrive copy/hub.md
  integrations/pipedrive copy/icon.svg
  integrations/pipedrive copy/integration.definition.ts
  integrations/pipedrive copy/package-lock.json
  integrations/pipedrive copy/package.json
  integrations/pipedrive copy/pnpm-lock.yaml
  integrations/pipedrive copy/src/actions/index.ts
  integrations/pipedrive copy/src/actions/person.ts
  integrations/pipedrive copy/src/auth.ts
  integrations/pipedrive copy/src/index.ts
  integrations/pipedrive copy/src/utils/error-handler.ts
  integrations/pipedrive copy/tsconfig.json
Owners: @botpress/growth

copy integrations for test purposes
  integrations/pipedrive copy/definitions/actions/person.ts
  integrations/pipedrive copy/definitions/index.ts
  integrations/pipedrive copy/definitions/schemas.ts
  integrations/pipedrive copy/hub.md
  integrations/pipedrive copy/icon.svg
  integrations/pipedrive copy/integration.definition.ts
  integrations/pipedrive copy/package-lock.json
  integrations/pipedrive copy/package.json
  integrations/pipedrive copy/pnpm-lock.yaml
  integrations/pipedrive copy/src/actions/index.ts
  integrations/pipedrive copy/src/actions/person.ts
  integrations/pipedrive copy/src/auth.ts
  integrations/pipedrive copy/src/index.ts
  integrations/pipedrive copy/src/utils/error-handler.ts
  integrations/pipedrive copy/tsconfig.json
  integrations/zoom copy/hub.md
  integrations/zoom copy/icon.svg
  integrations/zoom copy/integration.definition.ts
  integrations/zoom copy/package.json
  integrations/zoom copy/pnpm-lock.yaml
  integrations/zoom copy/src/index.ts
  integrations/zoom copy/src/zoom.ts
  integrations/zoom copy/tsconfig.json
Owners: @botpress/growth

feat(email-notifier): Support HTML input (#190)
  integrations/email-notifier/hub.md
  integrations/email-notifier/integration.definition.ts
  integrations/email-notifier/src/actions/send-mail.ts
  integrations/email-notifier/src/definitions/index.ts
Owners: @botpress/growth

feat: add code review instruction for github copilot
  .github/instructions/code-review.instructions.md
Owners: @botpress/growth

Apply suggestion from @Copilot
  .github/instructions/code-review.instructions.md
Owners: @botpress/growth

feat: add code review instruction for github copilot (#193)
  .github/instructions/code-review.instructions.md
Owners: @botpress/growth

feat: client actions implemented
  integrations/persat/definitions/actions/client.ts
  integrations/persat/definitions/actions/index.ts
  integrations/persat/definitions/index.ts
  integrations/persat/definitions/schemas.ts
  integrations/persat/hub.md
  integrations/persat/icon.svg
  integrations/persat/integration.definition.ts
  integrations/persat/misc/utils/errorUtils.ts
  integrations/persat/misc/utils/payloadUtils.ts
  integrations/persat/package-lock.json
  integrations/persat/package.json
  integrations/persat/src/actions/client.ts
  integrations/persat/src/actions/index.ts
  integrations/persat/src/auth.ts
  integrations/persat/src/http.ts
  integrations/persat/src/index.ts
  integrations/persat/tsconfig.json
Owners: @botpress/growth

feat: added formactions, added wt, customfield, formvalues, handling
  integrations/persat/definitions/actions/form.ts
  integrations/persat/definitions/actions/index.ts
  integrations/persat/definitions/schemas.ts
  integrations/persat/integration.definition.ts
  integrations/persat/src/actions/client.ts
  integrations/persat/src/actions/form.ts
  integrations/persat/src/actions/index.ts
  integrations/persat/src/utils/auth.ts
  integrations/persat/src/utils/formMapping.ts
  integrations/persat/src/utils/http.ts
Owners: @botpress/growth

feat: adding hhub.md as well and finalizing custom fields and formvalues
  integrations/persat/definitions/schemas.ts
  integrations/persat/hub.md
  integrations/persat/src/actions/client.ts
  integrations/persat/src/actions/form.ts
  integrations/persat/src/utils/formMapping.ts
  integrations/persat/src/utils/maps.ts
Owners: @botpress/growth

chore: version bump and name change
  integrations/persat/integration.definition.ts
Owners: @botpress/growth

chore: removing unused functions and schemas
  integrations/persat/definitions/schemas.ts
  integrations/persat/src/utils/maps.ts
Owners: @botpress/growth

chore: refactored logic for mapping only defined params
  integrations/persat/src/actions/client.ts
  integrations/persat/src/utils/maps.ts
Owners: @botpress/growth

Update integrations/persat/misc/utils/payloadUtils.ts
  integrations/persat/misc/utils/payloadUtils.ts
Owners: @botpress/growth

Update integrations/persat/src/utils/maps.ts
  integrations/persat/src/utils/maps.ts
Owners: @botpress/growth

chore: removing useless file
  integrations/persat/misc/utils/payloadUtils.ts
Owners: @botpress/growth

chore: separating filtering into a different utils file, renaming files for more clarity
  integrations/persat/src/utils/axiosClient.ts
  integrations/persat/src/utils/dataUtils.ts
  integrations/persat/src/utils/mappers.ts
Owners: @botpress/growth

chore: extracting common payload building into helper function
  integrations/persat/definitions/schemas.ts
  integrations/persat/src/actions/client.ts
  integrations/persat/src/actions/form.ts
Owners: @botpress/growth

feat: adding API key verification on sign up
  integrations/persat/src/index.ts
  integrations/persat/src/setup/index.ts
  integrations/persat/src/setup/register.ts
Owners: @botpress/growth

chore: changing everything back to id
  integrations/persat/src/actions/client.ts
  integrations/persat/src/actions/form.ts
  integrations/persat/src/utils/mappers.ts
Owners: @botpress/growth

chore: changing field descriptions in schemas
  integrations/persat/definitions/schemas.ts
Owners: @botpress/growth

chore: refactor first pass
  integrations/sharepoint/integration.definition.ts
  integrations/sharepoint/src/actions/index.ts
  integrations/sharepoint/src/definitions/index.ts
  integrations/sharepoint/src/handler.ts
  integrations/sharepoint/src/index.ts
  integrations/sharepoint/src/setup.ts
Owners: @aj-botpress, @botpress/growth

chore: refactoring setup index, register, unregister, handler
  integrations/sharepoint/definitions/index.ts
  integrations/sharepoint/integration.definition.ts
  integrations/sharepoint/src/index.ts
  integrations/sharepoint/src/setup/handler.ts
  integrations/sharepoint/src/setup/index.ts
  integrations/sharepoint/src/setup/register.ts
  integrations/sharepoint/src/setup/unregister.ts
  integrations/sharepoint/src/setup/utils.ts
  integrations/sharepoint/tsconfig.json
Owners: @aj-botpress, @botpress/growth

feat: create pnpm workspace for integrations and plugins folder - if we want it for bp-integration runner, we'll need to migrate that to pnpm rather than npm at a later date
  pnpm-workspace.yaml
Owners: @botpress/growth

chore: install shared dependencies at the root level
  package.json
  pnpm-lock.yaml
Owners: @botpress/growth

chore: cleanup each package.json - temporarily removed postinstall script of setup-integrations.js due to workspace causing infinite loop
  integrations/apify/package.json
  integrations/apollo/package.json
  integrations/brevo-hitl/package.json
  integrations/email-notifier/package.json
  integrations/gohighlevel/package.json
  integrations/google-chat-spaces/package.json
  integrations/google-sheets/package.json
  integrations/hitl-api/package.json
  integrations/hitl-salesforce/package.json
  integrations/hubspot-help-desk-hitl/package.json
  integrations/hubspot-hitl/package.json
  integrations/huggingface/package.json
  integrations/intercom-hitl/package.json
  integrations/klaviyo/package.json
  integrations/livechat-hitl/package.json
  integrations/magento2/package.json
  integrations/mailerlite/package.json
  integrations/pipedrive/package.json
  integrations/salesforce/package.json
  integrations/sharepoint-excel/package.json
  integrations/sharepoint/package.json
  integrations/shopify-products-sync/package.json
  integrations/twiliovoice/package.json
  integrations/zoho-sales-iq-hitl/package.json
  integrations/zoom/package.json
  package.json
  pnpm-lock.yaml
Owners: @botpress/growth, @ermek-botpress, @nabilbotpress, @AudricPnd, @ptrckbp, @davidvitora, @aj-botpress

fix: remove local lock and prettier from twilio, run global prettier
  integrations/twiliovoice/.prettierignore
  integrations/twiliovoice/.prettierrc
  integrations/twiliovoice/integration.definition.ts
  integrations/twiliovoice/package.json
  integrations/twiliovoice/pnpm-lock.yaml
  integrations/twiliovoice/src/handleIncoming.ts
  integrations/twiliovoice/src/handleOutgoing.ts
  integrations/twiliovoice/src/index.ts
  integrations/twiliovoice/src/types.ts
  pnpm-lock.yaml
Owners: @ermek-botpress, @botpress/growth

chore: remove all integration lock files
  integrations/apify/pnpm-lock.yaml
  integrations/apollo/pnpm-lock.yaml
  integrations/brevo-hitl/pnpm-lock.yaml
  integrations/email-notifier/pnpm-lock.yaml
  integrations/gohighlevel/pnpm-lock.yaml
  integrations/google-chat-spaces/pnpm-lock.yaml
  integrations/google-sheets/pnpm-lock.yaml
  integrations/hitl-api/pnpm-lock.yaml
  integrations/hitl-salesforce/pnpm-lock.yaml
  integrations/hubspot-help-desk-hitl/pnpm-lock.yaml
  integrations/hubspot-hitl/pnpm-lock.yaml
  integrations/huggingface/pnpm-lock.yaml
  integrations/intercom-hitl/pnpm-lock.yaml
  integrations/klaviyo/pnpm-lock.yaml
  integrations/livechat-hitl/pnpm-lock.yaml
  integrations/magento2/pnpm-lock.yaml
  integrations/mailerlite/pnpm-lock.yaml
  integrations/pipedrive/pnpm-lock.yaml
  integrations/salesforce/pnpm-lock.yaml
  integrations/sharepoint-excel/pnpm-lock.yaml
  integrations/sharepoint/pnpm-lock.yaml
  integrations/shopify-products-sync/pnpm-lock.yaml
  integrations/zoho-sales-iq-hitl/pnpm-lock.yaml
  integrations/zoom/pnpm-lock.yaml
Owners: @botpress/growth, @ermek-botpress, @nabilbotpress, @AudricPnd, @ptrckbp, @davidvitora, @aj-botpress

chore: remove lock files from remaining integrations and plugins
  bp-integration-runner/package-lock.json
  integrations/magento2/package-lock.json
  integrations/pipedrive/package-lock.json
  plugins/faq-analyzer/package-lock.json
Owners: @aj-botpress, @botpress/growth, @ermek-botpress

chore: remove prettier and shared dependencies from hitl-salesforce package.json
  integrations/hitl-salesforce/.prettierrc
  integrations/hitl-salesforce/package.json
Owners: @davidvitora, @botpress/growth

chore: run global prettier on hitl-salesforce
  integrations/hitl-salesforce/src/channels.ts
  integrations/hitl-salesforce/src/client.ts
  integrations/hitl-salesforce/src/definitions/schemas.ts
  integrations/hitl-salesforce/src/events/conversation-close.ts
  integrations/hitl-salesforce/src/events/conversation-message.ts
  integrations/hitl-salesforce/src/events/participant-changed.ts
  integrations/hitl-salesforce/src/handler.ts
  integrations/hitl-salesforce/src/utils.ts
Owners: @davidvitora, @botpress/growth

chore: update package.json from hubspot-hitl
  integrations/hubspot-hitl/package.json
  pnpm-lock.yaml
Owners: @ermek-botpress, @botpress/growth

chore: fix simple linting errors in brevo-hitl
  integrations/brevo-hitl/src/actions/hitl.ts
  integrations/brevo-hitl/src/setup/handler.ts
Owners: @botpress/growth

fix: upsert check:type scripts to all integrations
  integrations/apify/package.json
  integrations/gohighlevel/package.json
  integrations/google-chat-spaces/package.json
  integrations/hitl-api/package.json
  integrations/hitl-salesforce/package.json
  integrations/twiliovoice/package.json
Owners: @botpress/growth, @ermek-botpress, @nabilbotpress, @ptrckbp, @davidvitora

chore: changing action name
  integrations/sharepoint/definitions/actions/index.ts
  integrations/sharepoint/definitions/actions/sync.ts
  integrations/sharepoint/definitions/configuration.ts
  integrations/sharepoint/definitions/index.ts
  integrations/sharepoint/definitions/states.ts
  integrations/sharepoint/integration.definition.ts
  integrations/sharepoint/src/BotpressKB.ts
  integrations/sharepoint/src/SharepointClient.ts
  integrations/sharepoint/src/actions/index.ts
  integrations/sharepoint/src/actions/sync.ts
  integrations/sharepoint/src/misc/SharepointTypes.ts
  integrations/sharepoint/src/misc/utils.ts
  integrations/sharepoint/src/services/sync/SharepointSync.ts
  integrations/sharepoint/src/setup/handler.ts
  integrations/sharepoint/src/setup/register.ts
Owners: @aj-botpress, @botpress/growth

chore: standardize version of zod and botpress/cli - fix type error in hitl-api
  bp-integration-runner/package.json
  integrations/hitl-api/src/types.ts
  package.json
  pnpm-lock.yaml
Owners: @aj-botpress, @botpress/growth, @ptrckbp

chore: standardize botpress/client versions
  package.json
  pnpm-lock.yaml
Owners: @botpress/growth

correcting action name and values
  integrations/sharepoint/definitions/actions/sync.ts
  integrations/sharepoint/integration.definition.ts
  integrations/sharepoint/src/actions/sync.ts
Owners: @aj-botpress, @botpress/growth

rev: use zod 3.24.2 for brevo-hitl to avoid breaking z.record
  integrations/brevo-hitl/package.json
  pnpm-lock.yaml
Owners: @botpress/growth

rev: use previous version of botpress sdk to avoid breaking huggingface
  integrations/huggingface/package.json
  pnpm-lock.yaml
Owners: @ermek-botpress, @botpress/growth
