Repository botpress/growth, changes with the owners that CODEOWNERS names for each.
All owners: @botpress/growth, @ptrckbp, @aj-botpress, @ermek-botpress, @nabilbotpress, @AudricPnd, @davidvitora

chore: run prettier
  integrations/klaviyo/definitions/actions/profile.ts
  integrations/klaviyo/definitions/schemas/shared.ts
  integrations/klaviyo/pnpm-lock.yaml
  integrations/klaviyo/src/actions/profile.ts
Owners: @botpress/growth

enhanced success/error
  integrations/pipedrive/definitions/schemas.ts
  integrations/pipedrive/integration.definition.ts
  integrations/pipedrive/package.json
  integrations/pipedrive/src/actions/person.ts
  integrations/pipedrive/src/types.ts
  integrations/pipedrive/src/utils/errors.ts
  integrations/pipedrive/src/utils/success.ts
Owners: @botpress/growth

feat: add success and error handling for mailerlite api key configuration
  integrations/mailerlite/integration.definition.ts
  integrations/mailerlite/src/setup/register.ts
  integrations/mailerlite/src/setup/unregister.ts
Owners: @botpress/growth

fix: use prettier for all mailerlite files
  integrations/mailerlite/.prettierrc
  integrations/mailerlite/definitions/actions/index.ts
  integrations/mailerlite/definitions/actions/subscriber.ts
  integrations/mailerlite/definitions/events.ts
  integrations/mailerlite/definitions/index.ts
  integrations/mailerlite/definitions/schemas.ts
  integrations/mailerlite/definitions/states.ts
  integrations/mailerlite/integration.definition.ts
  integrations/mailerlite/misc/utils/errorUtils.ts
  integrations/mailerlite/misc/utils/payloadUtils.ts
  integrations/mailerlite/package.json
  integrations/mailerlite/pnpm-lock.yaml
  integrations/mailerlite/src/actions/index.ts
  integrations/mailerlite/src/actions/subscriber.ts
  integrations/mailerlite/src/auth.ts
  integrations/mailerlite/src/client.ts
  integrations/mailerlite/src/events.ts
  integrations/mailerlite/src/index.ts
  integrations/mailerlite/src/setup/handler.ts
  integrations/mailerlite/src/setup/index.ts
  integrations/mailerlite/src/setup/register.ts
  integrations/mailerlite/src/setup/unregister.ts
  integrations/mailerlite/tsconfig.json
Owners: @botpress/growth

fix: add lint check for mailerlite in github actions
  .github/workflows/check-integrations-linting.yml
  integrations/mailerlite/dist/tsconfig.tsbuildinfo
Owners: @botpress/growth

modified the version and the name
  integrations/pipedrive/integration.definition.ts
  integrations/pipedrive/package.json
  integrations/pipedrive/src/actions/person.ts
Owners: @botpress/growth

feat: add eslint to klaviyo and to github workflow
  .github/workflows/check-integrations-linting.yml
  integrations/klaviyo/eslint.config.mjs
  integrations/klaviyo/package.json
  integrations/klaviyo/pnpm-lock.yaml
  integrations/klaviyo/src/auth.ts
Owners: @botpress/growth

fix: add eslint to mailerlite integration
  integrations/mailerlite/eslint.config.mjs
  integrations/mailerlite/package.json
  integrations/mailerlite/pnpm-lock.yaml
Owners: @botpress/growth

fix: add eslint to mailerlite
  .github/workflows/check-integrations-linting.yml
Owners: @botpress/growth

prevent issues
  integrations/hitl-salesforce/src/channels.ts
  integrations/hitl-salesforce/src/client.ts
Owners: @davidvitora, @botpress/growth

adress pr comments
  integrations/pipedrive/definitions/schemas.ts
  integrations/pipedrive/src/actions/person.ts
  integrations/pipedrive/src/utils/error-handler.ts
Owners: @botpress/growth

adressed more pr comments
  integrations/pipedrive/src/actions/person.ts
  integrations/pipedrive/src/index.ts
  integrations/pipedrive/src/utils/error-handler.ts
  integrations/pipedrive/src/utils/success.ts
Owners: @botpress/growth

had to add nullable for org_id output to satisfy sdk
  integrations/pipedrive/definitions/schemas.ts
  integrations/pipedrive/src/actions/person.ts
Owners: @botpress/growth

org_id fix
  integrations/pipedrive/src/actions/person.ts
Owners: @botpress/growth

changed >0 to .positive zod
  integrations/pipedrive/definitions/schemas.ts
  integrations/pipedrive/src/actions/person.ts
Owners: @botpress/growth

updated integration name
  integrations/pipedrive/package.json
Owners: @botpress/growth

copied predefined error logic
  integrations/pipedrive/src/utils/error-handler.ts
Owners: @botpress/growth

installed axios for error handling
  integrations/pipedrive/package-lock.json
  integrations/pipedrive/package.json
  integrations/pipedrive/src/utils/error-handler.ts
Owners: @botpress/growth

feat: Pipedrive enhance success/error (#172)
  integrations/pipedrive/definitions/schemas.ts
  integrations/pipedrive/integration.definition.ts
  integrations/pipedrive/package-lock.json
  integrations/pipedrive/package.json
  integrations/pipedrive/src/actions/person.ts
  integrations/pipedrive/src/index.ts
  integrations/pipedrive/src/types.ts
  integrations/pipedrive/src/utils/error-handler.ts
Owners: @botpress/growth

bumped up major version
  integrations/pipedrive/integration.definition.ts
Owners: @botpress/growth

bumped up major version (#173)
  integrations/pipedrive/integration.definition.ts
Owners: @botpress/growth

adressing pr comments about types and functionality
  integrations/apify/package.json
  integrations/apify/src/actions/get-run-status.ts
  integrations/apify/src/actions/start-crawler-run.ts
  integrations/apify/src/actions/sync-run-results.ts
  integrations/apify/src/setup/handler.ts
Owners: @botpress/growth

added proper type guards
  integrations/apify/src/client.ts
Owners: @botpress/growth

bump
  integrations/hitl-salesforce/integration.definition.ts
  integrations/hitl-salesforce/src/setup/register.ts
Owners: @davidvitora, @botpress/growth

remove incorrect typing
  integrations/hitl-salesforce/src/setup/register.ts
Owners: @davidvitora, @botpress/growth

feat(hitl-salesforce): support transfers (#154)
  .gitignore
  integrations/hitl-salesforce/integration.definition.ts
  integrations/hitl-salesforce/src/client.ts
  integrations/hitl-salesforce/src/const.ts
  integrations/hitl-salesforce/src/definitions/schemas.ts
  integrations/hitl-salesforce/src/events/participant-changed.ts
Owners: @botpress/growth, @davidvitora

update sdk
  integrations/hitl-salesforce/package.json
Owners: @davidvitora, @botpress/growth

feat(email-notifier) : ready integration
  integrations/email-notifier/hub.md
  integrations/email-notifier/icon.svg
  integrations/email-notifier/integration.definition.ts
  integrations/email-notifier/package.json
  integrations/email-notifier/pnpm-lock.yaml
  integrations/email-notifier/src/actions/index.ts
  integrations/email-notifier/src/actions/send-mail.ts
  integrations/email-notifier/src/definitions/index.ts
  integrations/email-notifier/src/index.ts
  integrations/email-notifier/src/utils.ts
  integrations/email-notifier/tsconfig.json
  integrations/hubspot-hitl/package-lock.json
Owners: @botpress/growth, @ermek-botpress

feat (email-notifier): add cached SES client module and update usages"
  integrations/email-notifier/src/actions/send-mail.ts
  integrations/email-notifier/src/client.ts
  integrations/email-notifier/src/definitions/index.ts
  integrations/email-notifier/src/utils.ts
Owners: @botpress/growth

fix (email-notifier): email validation check
  integrations/email-notifier/src/utils.ts
Owners: @botpress/growth

fix: run linting workflow when a PR affects mailerlite
  .github/workflows/check-integrations-linting.yml
Owners: @botpress/growth

chore(email-notifier): remove unused import, fix client.ts
  integrations/email-notifier/integration.definition.ts
  integrations/email-notifier/src/actions/send-mail.ts
  integrations/email-notifier/src/client.ts
Owners: @botpress/growth

chore(email-notifier): package json integrationName
  integrations/email-notifier/package.json
Owners: @botpress/growth

chore(email-notifier): bump version
  integrations/email-notifier/integration.definition.ts
Owners: @botpress/growth

chore(email-notifier): drop version
  integrations/email-notifier/integration.definition.ts
Owners: @botpress/growth

chore(email-notifier): integration name fix
  integrations/email-notifier/integration.definition.ts
Owners: @botpress/growth

chore(email-notifier): integration definition attributes
  integrations/email-notifier/integration.definition.ts
Owners: @botpress/growth

chore(email-notifier): bump version
  integrations/email-notifier/integration.definition.ts
  integrations/hubspot-hitl/package-lock.json
Owners: @botpress/growth, @ermek-botpress

added seperation of concerns for success/fail handling
  integrations/apify/src/actions/get-run-status.ts
  integrations/apify/src/actions/start-crawler-run.ts
Owners: @botpress/growth

feat: add api token validation for klaviyo and mailerlite
  integrations/klaviyo/integration.definition.ts
  integrations/klaviyo/src/setup.ts
  integrations/mailerlite/integration.definition.ts
  integrations/mailerlite/src/setup/register.ts
Owners: @botpress/growth

CODEOWNERS:

# Global
* @botpress/growth

# Kitchen Sink
/advanced-starter-bot-template @ptrckbp @botpress/growth

# Integration Runner
/bp-integration-runner @aj-botpress @botpress/growth

# Integrations
/integrations/gohighlevel @ermek-botpress @botpress/growth
/integrations/google-chat-spaces @nabilbotpress @botpress/growth
/integrations/google-sheets @AudricPnd @botpress/growth
/integrations/hitl-api @ptrckbp @botpress/growth
/integrations/hitl-salesforce @davidvitora @botpress/growth
/integrations/hubspot-help-desk-hitl @ermek-botpress @botpress/growth
/integrations/hubspot-hitl @ermek-botpress @botpress/growth
/integrations/huggingface @ermek-botpress @botpress/growth
/integrations/salesforce @ermek-botpress @botpress/growth
/integrations/sharepoint @aj-botpress @botpress/growth
/integrations/shopify-products-sync @AudricPnd @botpress/growth
/integrations/twiliovoice @ermek-botpress @botpress/growth
/integrations/zoho-sales-iq-hitl @ermek-botpress @botpress/growth

# Plugins
/plugins/faq-analyzer @ermek-botpress @botpress/growth

# Scripts
/scripts/setup-integrations.js @ermek-botpress @botpress/growth
