Repository botpress/growth, changes with the owners that CODEOWNERS names for each.
All owners: @botpress/growth, @ptrckbp, @aj-botpress, @ermek-botpress, @nabilbotpress, @AudricPnd, @davidvitora

feat: add api token validation for klaviyo and mailerlite (#175)
  integrations/klaviyo/integration.definition.ts
  integrations/klaviyo/src/setup.ts
  integrations/mailerlite/integration.definition.ts
  integrations/mailerlite/src/setup/register.ts
Owners: @botpress/growth

handled error,removed unused types, separated logic
  integrations/apify/integration.definition.ts
  integrations/apify/src/actions/sync-run-results.ts
  integrations/apify/src/misc/types.ts
  integrations/apify/src/setup/handleApifyWebhook.ts
  integrations/apify/src/setup/handler.ts
Owners: @botpress/growth

feat: add global prettier
  .prettierrc
Owners: @botpress/growth

separated files for webhook handling
  integrations/apify/src/setup/handleApifyWebhook.ts
  integrations/apify/src/setup/handleCrawlerCompleted.ts
Owners: @botpress/growth

fix: update prettier and prettier ignore to match botpress main repo
  .prettierignore
  .prettierrc
Owners: @botpress/growth

addressed pr comments
  integrations/apify/integration.definition.ts
  integrations/apify/src/actions/start-crawler-run.ts
  integrations/apify/src/actions/sync-run-results.ts
  integrations/apify/src/client.ts
  integrations/apify/src/setup/handleCrawlerCompleted.ts
Owners: @botpress/growth

added tighter try-catch
  integrations/apify/package.json
  integrations/apify/src/client.ts
Owners: @botpress/growth

removed ds store
  .DS_Store
Owners: @botpress/growth

Revert "removed ds store"
  .DS_Store
Owners: @botpress/growth

Remove .DS_Store files from tracking and update .gitignore
  .DS_Store
  .gitignore
  integrations/.DS_Store
  integrations/apify/src/.DS_Store
  integrations/google-chat-spaces/.DS_Store
  integrations/shopify-products-sync/src/.DS_Store
  integrations/shopify-products-sync/src/setup/.DS_Store
  integrations/zoom/.DS_Store
Owners: @botpress/growth, @nabilbotpress, @AudricPnd

Revert "Remove .DS_Store files from tracking and update .gitignore"
  .DS_Store
  .gitignore
  integrations/.DS_Store
  integrations/apify/src/.DS_Store
  integrations/google-chat-spaces/.DS_Store
  integrations/shopify-products-sync/src/.DS_Store
  integrations/shopify-products-sync/src/setup/.DS_Store
  integrations/zoom/.DS_Store
Owners: @botpress/growth, @nabilbotpress, @AudricPnd

Delete integrations/apify/src/.DS_Store
  integrations/apify/src/.DS_Store
Owners: @botpress/growth

Delete integrations/apify/dist directory
  integrations/apify/dist/tsconfig.tsbuildinfo
Owners: @botpress/growth

added fixed file path for syncrunresult
  integrations/apify/integration.definition.ts
  integrations/apify/src/actions/sync-run-results.ts
  integrations/apify/src/client.ts
Owners: @botpress/growth

chore: refacto actions + centraliwed clients + architectural improvments
  integrations/magento2/dist/tsconfig.tsbuildinfo
  integrations/magento2/package-lock.json
  integrations/magento2/src/actions/getProducts.ts
  integrations/magento2/src/actions/getStockItem.ts
  integrations/magento2/src/actions/index.ts
  integrations/magento2/src/actions/syncProducts.ts
  integrations/magento2/src/index.ts
  integrations/magento2/src/services/botpress-api.ts
  integrations/magento2/src/services/magento-api.ts
  integrations/magento2/src/services/magento-client.ts
  integrations/magento2/src/services/product-processor.ts
  integrations/magento2/src/services/sync-service.ts
  integrations/magento2/src/services/sync-utils.ts
  integrations/magento2/src/setup/handler.ts
  integrations/magento2/src/setup/index.ts
  integrations/magento2/src/setup/register.ts
  integrations/magento2/src/setup/unregister.ts
  integrations/magento2/src/types/magento.ts
  integrations/magento2/src/utils/magento.ts
Owners: @botpress/growth

feat: run deploy-integrations on push on master
  .github/workflows/deploy-integrations.yml
Owners: @botpress/growth

chore: use botpress client
  integrations/magento2/src/services/botpress-api.ts
  integrations/magento2/src/types/botpress.ts
  integrations/magento2/src/types/magento.ts
Owners: @botpress/growth

fix: type safety
  integrations/magento2/src/services/magento-client.ts
  integrations/magento2/src/types/magento.ts
  integrations/magento2/src/utils/magento.ts
Owners: @botpress/growth

fix: revert @botpress/client table methods as they are not available
  integrations/magento2/src/services/botpress-api.ts
Owners: @botpress/growth

addressed pr comments, replaced targetPath with kb-id
  integrations/apify/integration.definition.ts
  integrations/apify/src/actions/start-crawler-run.ts
  integrations/apify/src/actions/sync-run-results.ts
  integrations/apify/src/client.ts
  integrations/apify/src/misc/types.ts
  integrations/apify/src/setup/handleCrawlerCompleted.ts
Owners: @botpress/growth

fix: if statement
  .github/actions/.DS_Store
  .github/workflows/deploy-integrations.yml
Owners: @botpress/growth

feat: add eslint to growth repo
  eslint.config.mjs
Owners: @botpress/growth

fix: update eslint config to error for unused vars
  eslint.config.mjs
Owners: @botpress/growth

chore: run eslint - more complex chunks that are erroring will be fixed manually
  integrations/brevo-hitl/src/actions/hitl.ts
  integrations/brevo-hitl/src/setup/handler.ts
  integrations/gohighlevel/src/setup/handler.ts
  integrations/gohighlevel/src/setup/register.ts
  integrations/gohighlevel/src/setup/unregister.ts
  integrations/google-chat-spaces/src/channels.ts
  integrations/google-chat-spaces/src/setup/handler.ts
  integrations/google-chat-spaces/src/setup/index.ts
  integrations/google-chat-spaces/src/setup/unregister.ts
  integrations/google-sheets/src/misc/kb.ts
  integrations/hitl-api/src/index.ts
  integrations/hitl-salesforce/src/events/conversation-close.ts
  integrations/hubspot-help-desk-hitl/src/actions/hitl.ts
  integrations/intercom-hitl/src/channels.ts
  integrations/magento2/src/actions/syncProducts.ts
  integrations/sharepoint-excel/src/SharepointClient.ts
  integrations/sharepoint-excel/src/index.ts
  integrations/twiliovoice/src/index.ts
  integrations/zoho-sales-iq-hitl/src/actions/hitl.ts
  integrations/zoho-sales-iq-hitl/src/channels.ts
  integrations/zoho-sales-iq-hitl/src/setup/handler.ts
  integrations/zoho-sales-iq-hitl/src/setup/unregister.ts
Owners: @botpress/growth, @ermek-botpress, @nabilbotpress, @AudricPnd, @ptrckbp, @davidvitora

fix: remove unused lastError variable
  integrations/hubspot-hitl/tests/utils/test-helpers.ts
Owners: @ermek-botpress, @botpress/growth

chore: remove dist and add it to gitignore
  .gitignore
  integrations/magento2/dist/tsconfig.tsbuildinfo
Owners: @botpress/growth

chore: remove dist folders from version control
  integrations/google-sheets/dist/tsconfig.tsbuildinfo
  integrations/hubspot-hitl/dist/tsconfig.tsbuildinfo
  integrations/klaviyo/dist/tsconfig.tsbuildinfo
  integrations/livechat-hitl/dist/tsconfig.tsbuildinfo
  integrations/magento2/dist/tsconfig.tsbuildinfo
  integrations/pipedrive/dist/tsconfig.tsbuildinfo
  integrations/sharepoint-excel/dist/tsconfig.tsbuildinfo
Owners: @AudricPnd, @botpress/growth, @ermek-botpress

chore: remove dist folders from version control
  .gitignore
Owners: @botpress/growth

chore: remove useless .gitignore
  integrations/gohighlevel/.gitignore
  integrations/google-chat-spaces/.gitignore
  integrations/hitl-api/.gitignore
  integrations/hitl-salesforce/.gitignore
  integrations/hubspot-help-desk-hitl/.gitignore
  integrations/hubspot-hitl/.gitignore
  integrations/intercom-hitl/.gitignore
  integrations/livechat-hitl/.gitignore
  integrations/twiliovoice/.gitignore
  integrations/zoho-sales-iq-hitl/.gitignore
Owners: @ermek-botpress, @botpress/growth, @nabilbotpress, @ptrckbp, @davidvitora

fix: remove unused sheetName variable - another manual fix to ensure stability
  integrations/sharepoint-excel/src/index.ts
Owners: @botpress/growth

Clean up build artifacts: remove dist folders and centralize .gitignore (#177)
  .gitignore
  integrations/gohighlevel/.gitignore
  integrations/google-chat-spaces/.gitignore
  integrations/google-sheets/dist/tsconfig.tsbuildinfo
  integrations/hitl-api/.gitignore
  integrations/hitl-salesforce/.gitignore
  integrations/hubspot-help-desk-hitl/.gitignore
  integrations/hubspot-hitl/.gitignore
  integrations/hubspot-hitl/dist/tsconfig.tsbuildinfo
  integrations/intercom-hitl/.gitignore
  integrations/klaviyo/dist/tsconfig.tsbuildinfo
  integrations/livechat-hitl/.gitignore
  integrations/livechat-hitl/dist/tsconfig.tsbuildinfo
  integrations/magento2/dist/tsconfig.tsbuildinfo
  integrations/pipedrive/dist/tsconfig.tsbuildinfo
  integrations/sharepoint-excel/dist/tsconfig.tsbuildinfo
  integrations/twiliovoice/.gitignore
  integrations/zoho-sales-iq-hitl/.gitignore
Owners: @botpress/growth, @ermek-botpress, @nabilbotpress, @AudricPnd, @ptrckbp, @davidvitora

fix: avoid smothering suppression and migrate to ts-expect-error
  integrations/hitl-salesforce/src/client.ts
Owners: @davidvitora, @botpress/growth

chore: add descriptive comment for ts-except-error
  integrations/hitl-salesforce/src/client.ts
Owners: @davidvitora, @botpress/growth

chore: revert gohighlevel/hub.md changes
  integrations/gohighlevel/hub.md
Owners: @ermek-botpress, @botpress/growth

chore: bump major version
  integrations/magento2/integration.definition.ts
Owners: @botpress/growth

fix: version
  integrations/magento2/integration.definition.ts
Owners: @botpress/growth

feat: sync products in the background after first page (#151)
  integrations/magento2/integration.definition.ts
  integrations/magento2/package-lock.json
  integrations/magento2/src/actions/getProducts.ts
  integrations/magento2/src/actions/getStockItem.ts
  integrations/magento2/src/actions/index.ts
  integrations/magento2/src/actions/syncProducts.ts
  integrations/magento2/src/index.ts
  integrations/magento2/src/services/botpress-api.ts
  integrations/magento2/src/services/magento-client.ts
  integrations/magento2/src/services/product-processor.ts
  integrations/magento2/src/services/sync-service.ts
  integrations/magento2/src/services/sync-utils.ts
  integrations/magento2/src/setup/handler.ts
  integrations/magento2/src/setup/index.ts
  integrations/magento2/src/setup/register.ts
  integrations/magento2/src/setup/unregister.ts
  integrations/magento2/src/types/magento.ts
  integrations/magento2/src/utils/common.ts
  integrations/magento2/src/utils/magento.ts
Owners: @botpress/growth

chore: remove magento2 from exclusion as the PR is merged
  .github/actions/deploy-integrations/action.yml
Owners: @botpress/growth

feat(email-notifier): Remove redundant readme section.
  integrations/email-notifier/hub.md
Owners: @botpress/growth

fix(email-notifier): downgrade version, remove unnecessary util functions, remove redundant comments
  integrations/email-notifier/integration.definition.ts
  integrations/email-notifier/src/actions/send-mail.ts
  integrations/email-notifier/src/utils.ts
Owners: @botpress/growth

CODEOWNERS:

# Global
* @botpress/growth

# Kitchen Sink
/advanced-starter-bot-template @ptrckbp @botpress/growth

# Integration Runner
/bp-integration-runner @aj-botpress @botpress/growth

# Integrations
/integrations/gohighlevel @ermek-botpress @botpress/growth
/integrations/google-chat-spaces @nabilbotpress @botpress/growth
/integrations/google-sheets @AudricPnd @botpress/growth
/integrations/hitl-api @ptrckbp @botpress/growth
/integrations/hitl-salesforce @davidvitora @botpress/growth
/integrations/hubspot-help-desk-hitl @ermek-botpress @botpress/growth
/integrations/hubspot-hitl @ermek-botpress @botpress/growth
/integrations/huggingface @ermek-botpress @botpress/growth
/integrations/salesforce @ermek-botpress @botpress/growth
/integrations/sharepoint @aj-botpress @botpress/growth
/integrations/shopify-products-sync @AudricPnd @botpress/growth
/integrations/twiliovoice @ermek-botpress @botpress/growth
/integrations/zoho-sales-iq-hitl @ermek-botpress @botpress/growth

# Plugins
/plugins/faq-analyzer @ermek-botpress @botpress/growth

# Scripts
/scripts/setup-integrations.js @ermek-botpress @botpress/growth
