Repository botpress/growth, changes with the owners that CODEOWNERS names for each.
All owners: @botpress/growth, @ptrckbp, @aj-botpress, @ermek-botpress, @nabilbotpress, @AudricPnd, @davidvitora

fix: add workspace and delete brevo-hitl package-lock.json
  integrations/brevo-hitl/pnpm-lock.yaml
  pnpm-lock.yaml
  pnpm-workspace.yaml
Owners: @botpress/growth

chore: bump integration version
  integrations/brevo-hitl/integration.definition.ts
Owners: @botpress/growth

rev: revert setup-integrations to master this will break, but I need to figure out how to fix it for this partial workspace idea
  scripts/setup-integrations.js
Owners: @ermek-botpress, @botpress/growth

fix: update postinstall script to skip workspace integrations and avoid looping
  pnpm-workspace.yaml
  scripts/setup-integrations.js
Owners: @botpress/growth, @ermek-botpress

fix: ignore workspace when installing integrations
  scripts/setup-integrations.js
Owners: @ermek-botpress, @botpress/growth

fix: remove absent turbo generate script
  package.json
Owners: @botpress/growth

chore: add bp lint to brevo-hitl and update package name
  integrations/brevo-hitl/package.json
Owners: @botpress/growth

fix: fix bp lint issues
  integrations/brevo-hitl/package.json
  integrations/brevo-hitl/src/definitions/events.ts
  integrations/brevo-hitl/src/definitions/index.ts
  integrations/brevo-hitl/src/definitions/schemas.ts
  pnpm-lock.yaml
Owners: @botpress/growth

chore: fix bp linting issues
  integrations/apify/integration.definition.ts
Owners: @botpress/growth

commit: add turbo.json to fix broken scripts
  .gitignore
  package.json
  turbo.json
Owners: @botpress/growth

feat: add pnpm workspace
  pnpm-workspace.yaml
Owners: @botpress/growth

fix: skip refactored integrations and run pnpm i
  integrations/apify/pnpm-lock.yaml
  pnpm-lock.yaml
  scripts/setup-integrations.js
Owners: @botpress/growth, @ermek-botpress

chore: use common order for .title.describe
  integrations/apify/integration.definition.ts
Owners: @botpress/growth

fix: apify linting issues and pnpm workspace (#216)
  .gitignore
  integrations/apify/integration.definition.ts
  integrations/apify/pnpm-lock.yaml
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  scripts/setup-integrations.js
  turbo.json
Owners: @botpress/growth, @ermek-botpress

run prettier
  integrations/sharepoint-excel/src/index.ts
Owners: @botpress/growth

Automatic column addition and deletion
  integrations/sharepoint-excel/integration.definition.ts
  integrations/sharepoint-excel/package.json
  integrations/sharepoint-excel/pnpm-lock.yaml
  integrations/sharepoint-excel/src/index.ts
Owners: @botpress/growth

Refine polling times
  integrations/sharepoint-excel/src/index.ts
Owners: @botpress/growth

Directly use client table methods over PAT + TablesAPI
  integrations/sharepoint-excel/integration.definition.ts
  integrations/sharepoint-excel/src/index.ts
Owners: @botpress/growth

Bump integration version
  integrations/sharepoint-excel/integration.definition.ts
Owners: @botpress/growth

Improve code organization and error handling
  integrations/sharepoint-excel/integration.definition.ts
  integrations/sharepoint-excel/src/actions/index.ts
  integrations/sharepoint-excel/src/actions/sync-excel-file.ts
  integrations/sharepoint-excel/src/index.ts
  integrations/sharepoint-excel/src/utils.ts
Owners: @botpress/growth

fix schema handling and improve validation
  integrations/sharepoint-excel/integration.definition.ts
  integrations/sharepoint-excel/src/index.ts
Owners: @botpress/growth

run prettier
  integrations/sharepoint-excel/src/actions/index.ts
  integrations/sharepoint-excel/src/actions/sync-excel-file.ts
Owners: @botpress/growth

img, videos, files sending fix
  integrations/intercom-hitl/integration.definition.ts
  integrations/intercom-hitl/src/events/incomingReply.ts
Owners: @botpress/growth

fix: images now appear on intercom-hitl
  integrations/intercom-hitl/src/events/incomingReply.ts
Owners: @botpress/growth

chore: changed integration name and bumped up version
  integrations/intercom-hitl/integration.definition.ts
Owners: @botpress/growth

Fix: Intercom-HITL images appearing as URLs (#217)
  integrations/intercom-hitl/integration.definition.ts
  integrations/intercom-hitl/src/events/incomingReply.ts
Owners: @botpress/growth

Feat/moving integrations from simply great bots (#189)
  integrations/google-analytics/hub.md
  integrations/google-analytics/icon.svg
  integrations/google-analytics/integration.definition.ts
  integrations/google-analytics/package.json
  integrations/google-analytics/pnpm-lock.yaml
  integrations/google-analytics/src/index.ts
  integrations/google-analytics/src/types.d.ts
  integrations/google-analytics/tsconfig.json
  integrations/mixpanel/hub.md
  integrations/mixpanel/integration.definition.ts
  integrations/mixpanel/logo.svg
  integrations/mixpanel/package.json
  integrations/mixpanel/pnpm-lock.yaml
  integrations/mixpanel/src/index.ts
  integrations/mixpanel/src/types.d.ts
  integrations/mixpanel/tsconfig.json
  integrations/segment/hub.md
  integrations/segment/icon.svg
  integrations/segment/integration.definition.ts
  integrations/segment/package.json
  integrations/segment/pnpm-lock.yaml
  integrations/segment/src/index.ts
  integrations/segment/tsconfig.json
Owners: @botpress/growth

Improve code readability and API consistency
  integrations/sharepoint-excel/integration.definition.ts
  integrations/sharepoint-excel/src/actions/sync-excel-file.ts
Owners: @botpress/growth

prettier
  integrations/sharepoint-excel/src/actions/index.ts
  integrations/sharepoint-excel/src/actions/sync-excel-file.ts
Owners: @botpress/growth

Add sharepoint-excel to pnpm workspace
  integrations/sharepoint-excel/pnpm-lock.yaml
  pnpm-lock.yaml
  pnpm-workspace.yaml
Owners: @botpress/growth

Update lockfile
  pnpm-lock.yaml
Owners: @botpress/growth

change version
  integrations/sharepoint-excel/integration.definition.ts
Owners: @botpress/growth

add replyTo input to sendMail action
  integrations/email-notifier/src/definitions/index.ts
Owners: @botpress/growth

add replyTo to sendMail action
  integrations/email-notifier/src/actions/send-mail.ts
Owners: @botpress/growth

bump version
  integrations/email-notifier/integration.definition.ts
Owners: @botpress/growth

update hub.md
  integrations/email-notifier/hub.md
Owners: @botpress/growth

feat(email-notifier): Add replyTo feature to sendMail action (#218)
  integrations/email-notifier/hub.md
  integrations/email-notifier/integration.definition.ts
  integrations/email-notifier/src/actions/send-mail.ts
  integrations/email-notifier/src/definitions/index.ts
Owners: @botpress/growth

refactor(zoom): Restructure integration following team patterns
  integrations/zoom/integration.definition.ts
  integrations/zoom/src/client.ts
  integrations/zoom/src/index.ts
  integrations/zoom/src/setup/handler.ts
  integrations/zoom/src/setup/index.ts
  integrations/zoom/src/setup/register.ts
  integrations/zoom/src/setup/unregister.ts
  integrations/zoom/src/types.ts
  integrations/zoom/src/zoom.ts
Owners: @botpress/growth

refactor(zoom): Apply PR review feedback
  integrations/zoom/hub.md
  integrations/zoom/integration.definition.ts
  integrations/zoom/package.json
  integrations/zoom/src/client.ts
  integrations/zoom/src/setup/handler.ts
  integrations/zoom/src/setup/register.ts
  integrations/zoom/src/types.ts
  integrations/zoom/src/utils.ts
Owners: @botpress/growth

chore(zoom): Update integration name to plus/zoom
  integrations/zoom/integration.definition.ts
Owners: @botpress/growth

CODEOWNERS:

# Global
* @botpress/growth

# Kitchen Sink
/advanced-starter-bot-template @ptrckbp @botpress/growth

# Integration Runner
/bp-integration-runner @aj-botpress @botpress/growth

# Integrations
/integrations/gohighlevel @ermek-botpress @botpress/growth
/integrations/google-chat-spaces @nabilbotpress @botpress/growth
/integrations/google-sheets @AudricPnd @botpress/growth
/integrations/hitl-api @ptrckbp @botpress/growth
/integrations/hitl-salesforce @davidvitora @botpress/growth
/integrations/hubspot-help-desk-hitl @ermek-botpress @botpress/growth
/integrations/hubspot-hitl @ermek-botpress @botpress/growth
/integrations/huggingface @ermek-botpress @botpress/growth
/integrations/salesforce @ermek-botpress @botpress/growth
/integrations/sharepoint @aj-botpress @botpress/growth
/integrations/shopify-products-sync @AudricPnd @botpress/growth
/integrations/twiliovoice @ermek-botpress @botpress/growth
/integrations/zoho-sales-iq-hitl @ermek-botpress @botpress/growth

# Plugins
/plugins/faq-analyzer @ermek-botpress @botpress/growth

# Scripts
/scripts/setup-integrations.js @ermek-botpress @botpress/growth
